<mat-toolbar color="primary" style="height: 80px">
  <button mat-icon-button class="icon-button" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="item" [routerLink]="['/empleado']">
      INICIO
    </button>
    <button mat-menu-item class="item" [routerLink]="['/gestionarpedidos']">
      GESTIONAR PEDIDOS
    </button>
    <button mat-menu-item class="item" [routerLink]="['/gestionarropa']">
      GESTIONAR ROPA
    </button>
    <button mat-menu-item class="item" [routerLink]="['/gestionarpuntos']">
      GESTIONAR PUNTOS
    </button>
  </mat-menu>

  <div
    *ngIf="cliente.imagen != null; else noavatar"
    style="display: flex; align-items: center"
  >
    <a (click)="frame11.show()">
      <img src="{{ cliente.imagen }}" width="70" class="avatar" />
    </a>
    <div style="display: flex; flex-direction: column; align-items: center">
      <p style="margin-left: 1em; font-size: 12px; margin-bottom: 0">
        {{ cliente.nombre }} {{ cliente.apellidos }}
      </p>
      <hr
        style="border: 1px solid black; width: 3em; margin: 0px 0px 0px 12px"
      />
      <p style="font-size: 10px; margin-left: 1em; margin-bottom: 0">
        {{ cliente.perfil }}
      </p>
    </div>
  </div>
  <ng-template #noavatar>
    <div *ngIf="estaLogueado == true; else aa" style="display: flex; align-items: center">
      <a (click)="frame11.show()">
        <img src="../../../../assets/avatar1.png" width="70" class="avatar" />
      </a>
      <div style="display: flex; flex-direction: column;align-items: center">
        <p style="margin-left: 1em; font-size: 12px;margin-bottom: 0">
          {{ cliente.nombre }} {{ cliente.apellidos }}
        </p>
        <hr
          style="border: 1px solid black; width: 3em; margin: 0px 0px 0px 12px"
        />
        <p style="font-size: 10px; margin-left: 1em; margin-bottom: 0">
          {{ cliente.perfil }}
        </p>
      </div>
    </div>
    <ng-template #aa> </ng-template>
  </ng-template>
  <span class="example-spacer"></span>

  <button mat-button class="item" [routerLink]="['/empleado']">INICIO</button>
  <button mat-button class="item" [routerLink]="['/gestionarpedidos']">
    GESTIONAR PEDIDOS
  </button>
  <button mat-button class="item" [routerLink]="['/gestionarropa']">
    GESTIONAR ROPA
  </button>
  <button mat-button class="item" [routerLink]="['/gestionarpuntos']">
    GESTIONAR PUNTOS
  </button>
  <button mat-button class="item" [routerLink]="['/abririncidencias']">
    ABRIR INCIDENCIAS
  </button>

  <span class="example-spacer"></span>

  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/cart"
    routerLinkActive="active"
  ></button>
  <button
    *ngIf="!estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLinkActive="active"
    matTooltip="Iniciar Sesión"
    data-toggle="modal"
    (click)="frame.show()"
    mdbWavesEffect
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink=""
    routerLinkActive="active"
    (click)="cerrarSesion()"
  >
    <mat-icon matBadgeColor="accent">exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<div
  mdbModal
  #frame11="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Información Personal</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame11.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <form
            [formGroup]="form1"
            (ngSubmit)="actualizarInfo()"
            style="display: flex; flex-direction: column; place-content: center"
          >
            <input type="hidden" formControlName="id" />
            Nombre
            <input type="text" formControlName="nombre" />
            Apellidos
            <input type="text" formControlName="apellidos" />
            Provincia
            <input type="text" formControlName="provincia" />
            Localidad
            <input type="text" formControlName="localidad" />
            Imagen
            <select formControlName="imagen">
              <option value="../../../../assets/avatar1.png">Avatar 1</option>
              <option value="../../../../assets/avatar2.png">Avatar 2</option>
              <option value="../../../../assets/avatar3.png">Avatar 3</option>
            </select>
            <button mat-raised-button type="submit">Actualizar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  mdbModal
  #frame="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Iniciar Sesión</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <app-login></app-login>
        </div>
      </div>
    </div>
  </div>
</div>


<div style="margin-top: 4em">
  <div class="tabla">
    <div class="btnr">
      <div class="ar">
        <h2 style="text-align:center">Gestionar Pedidos</h2>
      </div>
    </div>
    <div class="theader">
      <div>Fecha</div>
      <div>Estado</div>
      <div>Precio Total</div>
      <div>Fecha de Envío</div>
      <div>Fecha de Recibo</div>
      <div>Acción</div>
    </div>

    <div class="fila" *ngFor="let item of pedido">
      <div>{{ item.fecha }}</div>
      <div>
        {{ item.estado }}
      </div>
      <div>{{ item.preciototal }}</div>
      <div>{{ item.fechaenvio }}</div>
      <div>{{ item.fecharecibido }}</div>
      <div>
        <mat-icon
          matTooltip="Borrar"
          style="cursor: pointer"
          (click)="openDialog(item.id)"
          >delete</mat-icon
        >
        <mat-icon
          style="cursor: pointer"
          (click)="modificarpedido.show();pasarDatos(item.id, item.estado, item.preciototal, item.fechaenvio, item.fecharecibido)"
          >edit</mat-icon
        >
      </div>
    </div>
  </div>
</div>

<div
  mdbModal
  #modificarpedido="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Modificar pedido</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="modificarpedido.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <form
            (ngSubmit)="modificarPedido()"
            [formGroup]="formModal"
            style="display: flex; flex-direction: column"
          >
          <input type="hidden" formControlName="id" />
            Estado
            <select formControlName="estado">
              <option value="Pendiente">Pendiente</option>
              <option value="Recibido">Recibido</option>
              <option value="Enviado">Enviado</option>
            </select>
            Precio Total
            <input
              type="text"
              formControlName="preciototal"
              placeholder="preciototal"
              style="margin-bottom: 1em"
            />
            Fecha de Envío
            <input
              type="date"
              formControlName="fechaenvio"
              placeholder="fechadeenvio"
              style="margin-bottom: 1em"
            />
            Fecha de Recibo
            <input
              type="date"
              formControlName="fecharecibido"
              placeholder="fechaderecibo"
              style="margin-bottom: 1em"
            />
            <button>Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <ng-template #nohaypedidos>
    <p>El Cliente no tiene pedidos</p>
  </ng-template> -->
