<mat-toolbar color="primary" style="height: 80px">
  <button mat-icon-button class="icon-button" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="item" [routerLink]="['/admin']">INICIO</button>
    <button mat-menu-item class="item" [routerLink]="['/gestionarusuarios']">
      GESTIONAR USUARIOS
    </button>
    <button mat-menu-item class="item" [routerLink]="['/gestionarincidencias']">
      GESTIONAR INCIDENCIAS
    </button>
  </mat-menu>

  <div
    *ngIf="cliente.imagen != null; else noavatar"
    style="display: flex; align-items: center"
  >
    <a (click)="frame11.show()">
      <img src="{{ cliente.imagen }}" width="70" class="avatar" />
    </a>
    <div style="display: flex; flex-direction: column; align-items: center">
      <p style="margin-left: 1em; font-size: 12px; margin-bottom: 0">
        {{ cliente.nombre }} {{ cliente.apellidos }}
      </p>
      <hr
        style="border: 1px solid black; width: 3em; margin: 0px 0px 0px 12px"
      />
      <p style="font-size: 10px; margin-left: 1em; margin-bottom: 0">
        {{ cliente.perfil }}
      </p>
    </div>
  </div>
  <ng-template #noavatar>
    <div
      *ngIf="estaLogueado == true; else aa"
      style="display: flex; align-items: center"
    >
      <a (click)="frame11.show()">
        <img src="../../../../assets/avatar1.png" width="70" class="avatar" />
      </a>
      <div style="display: flex; flex-direction: column; align-items: center">
        <p style="margin-left: 1em; font-size: 12px; margin-bottom: 0">
          {{ cliente.nombre }} {{ cliente.apellidos }}
        </p>
        <hr
          style="border: 1px solid black; width: 3em; margin: 0px 0px 0px 12px"
        />
        <p style="font-size: 10px; margin-left: 1em; margin-bottom: 0">
          {{ cliente.perfil }}
        </p>
      </div>
    </div>
    <ng-template #aa> </ng-template>
  </ng-template>

  <span class="example-spacer"></span>

  <button mat-button class="item" [routerLink]="['/admin']">INICIO</button>
  <button mat-button class="item" [routerLink]="['/gestionarusuarios']">
    GESTIONAR USUARIOS
  </button>
  <button mat-button class="item" [routerLink]="['/gestionarincidencias']">
    GESTIONAR INCIDENCIAS
    <mat-icon
      class="icninc"
      matBadge="{{ numIncidencias }}"
      matBadgeColor="accent"
      MatBadgeSize="small"
      >assignment</mat-icon
    >
  </button>

  <span class="example-spacer"></span>

  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/cart"
    routerLinkActive="active"
  ></button>
  <button
    *ngIf="!estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLinkActive="active"
    matTooltip="Iniciar Sesión"
    data-toggle="modal"
    (click)="frame.show()"
    mdbWavesEffect
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink=""
    routerLinkActive="active"
    (click)="cerrarSesion()"
  >
    <mat-icon matBadgeColor="accent">exit_to_app</mat-icon>
  </button>
</mat-toolbar>
<div
  mdbModal
  #frame11="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Información Personal</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame11.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <form
            [formGroup]="form1"
            (ngSubmit)="actualizarInfo()"
            style="display: flex; flex-direction: column; place-content: center"
          >
            <input type="hidden" formControlName="id" />
            Nombre (*)
            <input
              type="text"
              formControlName="nombre"
              style="margin-bottom: 1em"
            />
            Apellidos (*)
            <input
              type="text"
              formControlName="apellidos"
              style="margin-bottom: 1em"
            />
            Provincia (*)
            <input
              type="text"
              formControlName="provincia"
              style="margin-bottom: 1em"
            />
            Localidad (*)
            <input
              type="text"
              formControlName="localidad"
              style="margin-bottom: 1em"
            />
            Domicilio (*)
            <input
              type="text"
              formControlName="domicilio"
              style="margin-bottom: 1em"
            />
            Imagen (*)
            <div style="display: flex">
              <div>
                <p
                  style="font-size: 10px; margin-bottom: 0; margin-right: 10px"
                >
                  Avatar 1
                </p>
                <img src="../../../../assets/avatar1.png" width="30" alt="" />
              </div>
              <div>
                <p
                  style="font-size: 10px; margin-bottom: 0; margin-right: 10px"
                >
                  Avatar 2
                </p>
                <img src="../../../../assets/avatar2.png" width="30" alt="" />
              </div>
              <div>
                <p
                  style="font-size: 10px; margin-bottom: 0; margin-right: 10px"
                >
                  Avatar 3
                </p>
                <img src="../../../../assets/avatar3.png" width="30" alt="" />
              </div>
            </div>
            <select formControlName="imagen" style="margin-top: 1em">
              <option value="../../../../assets/avatar1.png">Avatar 1</option>
              <option value="../../../../assets/avatar2.png">Avatar 2</option>
              <option value="../../../../assets/avatar3.png">Avatar 3</option>
            </select>
            <button [disabled]="form1.invalid" mat-raised-button type="submit" style="margin-top: 2em">
              Actualizar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  mdbModal
  #frame="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Iniciar Sesión</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <app-login></app-login>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 4em">
  <div class="tabla">
    <div class="btnr">
      <div class="ar">
        <h2 style="text-align: left">Gestionar Usuarios</h2>
        <button class="bntadd" mat-raised-button (click)="frame10.show()">
          Añadir Usuario
        </button>
      </div>
    </div>
    Filtrar por:
    <br>
    <br>
    <div style="display: flex; place-content: center">
      <mat-chip-list aria-label="Fish selection">
        <mat-chip (click)="mostrarClientes()">Clientes</mat-chip>
        <mat-chip (click)="mostrarEmpleados()">Empleados</mat-chip>
        <mat-chip (click)="mostrarAdmin()">Admin</mat-chip>
      </mat-chip-list>
    </div>

    <div class="theader">
      <div>Perfil</div>
      <div>Email</div>
      <div>Nombre</div>
      <div>Acción</div>
    </div>

    <div class="fila" *ngFor="let item of clientes">
      <div>{{ item.perfil }}</div>
      <div>
        {{ item.email }}
      </div>
      <div>{{ item.nombre }} {{ item.apellidos }}</div>
      <div>
        <mat-icon
          matTooltip="Borrar"
          style="cursor: pointer"
          (click)="openDialog(item.email)"
          >delete</mat-icon
        >

        <mat-icon
          matTooltip="Modificar"
          style="cursor: pointer"
          (click)="frame6.show(); pasarDatos(item.email)"
          >edit</mat-icon
        >
      </div>
    </div>

    <div
      mdbModal
      #frame10="mdbModal"
      class="modal fade left"
      id="frameModalTop"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Añadir Usuario</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              (click)="frame10.hide()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <div
              class="md-form mb-5"
              style="display: flex; flex-direction: column; align-items: center"
            >
              <form [formGroup]="formAddCliente" (ngSubmit)="addCliente()">
                <div style="margin-bottom: 1.2em">
                  Perfil (*)
                  <select formControlName="perfil">
                    <option value="Cliente">Cliente</option>
                    <option value="Empleado">Empleado</option>
                    <option value="Admin">Admin</option>
                  </select>
                </div>
                <div style="margin-bottom: 1.2em">
                  Email (*)
                  <input type="email" formControlName="email" />
                  <div *ngIf="formAddCliente.get('email').hasError('email')" style="color: red">
                    El formato del email es incorrecto.
                  </div>
                </div>
                <div style="margin-bottom: 1.2em">
                  Password (*)
                  <input type="password" formControlName="password" />
                </div>

                <button
                  [disabled]="formAddCliente.invalid"
                  mat-raised-button
                  style="margin-top: 2em"
                >
                  Añadir
                </button>
              </form>
              <p style="font-size: 12px; margin: 25px 0px 0px 0px">
                * Campos obligatorios
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  mdbModal
  #frame6="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Modificar Cliente</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame6.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5" style="display: flex; flex-direction: column">
          <form [formGroup]="modificarCliente1" (ngSubmit)="modificarCliente()">
            <div style="display: flex; margin-bottom: 1em">
              <div
                style="
                  margin-right: 4em;
                  display: flex;
                  flex-direction: column;
                "
              >
              <input type="hidden" formControlName="id">
                Perfil
                <input type="text" formControlName="perfil" />
              </div>
              <div style="display: flex; flex-direction: column">
                Email
                <input type="text" formControlName="email" />
              </div>
            </div>
            <div style="display: flex; margin-bottom: 1em">
              <div style="margin-right: 1em">
                Nombre
                <input type="text" formControlName="nombre" />
              </div>
              <div>
                Apellidos
                <input type="text" formControlName="apellidos" />
              </div>
            </div>
            <div style="display: flex; margin-bottom: 1em">
              <div style="margin-right: 1em">
                Provincia
                <input type="text" formControlName="provincia" />
              </div>
              <div>
                Localidad
                <input type="text" formControlName="localidad" />
              </div>
            </div>
            <div style="display: flex; margin-bottom: 1em">
              <div style="margin-right: 28px;">
                Domicilio
                <input type="text" formControlName="domicilio" />
              </div>
              <div>
                Código Postal
                <input type="number" formControlName="codigopostal" />
              </div>
            </div>
            <div style="display: flex; flex-direction: column">
              Móvil
              <input type="number" formControlName="movil" style="width: 100px;" />
            </div>
            <div style="margin-top: 2em; text-align: center">
              <button mat-raised-button>Modificar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
