<mat-toolbar color="primary" style="height: 80px">
  <button mat-icon-button class="icon-button" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="item" [routerLink]="['/admin']">INICIO</button>
    <button mat-menu-item class="item" [routerLink]="['/gestionarusuarios']">
      GESTIONAR USUARIOS
    </button>
    <button mat-menu-item class="item" [routerLink]="['/gestionarincidencias']">
      GESTIONAR INCIDENCIAS
    </button>
  </mat-menu>

  <div *ngIf="cliente.imagen != null; else noavatar">
    <a routerLink="/miperfil" (click)="drawer.toggle()">
      <img src="{{ cliente.imagen }}" width="70" class="avatar" />
    </a>
  </div>

  <ng-template #noavatar>
    <div *ngIf="estaLogueado == true; else aa">
      <a routerLink="/miperfil" (click)="drawer.toggle()">
        <img
          src="../../../../assets/avatardefault.png"
          width="70"
          class="avatar"
        />
      </a>
    </div>
    <ng-template #aa> </ng-template>
  </ng-template>

  <span class="example-spacer"></span>

  <button mat-button class="item" [routerLink]="['/empleado']">INICIO</button>
  <button mat-button class="item" [routerLink]="['/gestionarusuarios']">
    GESTIONAR USUARIOS
  </button>
  <button mat-button class="item" [routerLink]="['/gestionarincidencias']">
    GESTIONAR INCIDENCIAS
  </button>

  <span class="example-spacer"></span>

  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/cart"
    routerLinkActive="active"
  ></button>
  <button
    *ngIf="!estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLinkActive="active"
    matTooltip="Iniciar Sesión"
    data-toggle="modal"
    (click)="frame.show()"
    mdbWavesEffect
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink=""
    routerLinkActive="active"
    (click)="cerrarSesion()"
  >
    <mat-icon matBadgeColor="accent">exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p style="cursor: pointer">{{ cliente.nombre }} {{ cliente.apellidos }}</p>
    <p>Perfil: {{ cliente.perfil }}</p>
    <p style="cursor: pointer" routerLink="/informacion">Mi información</p>
    <p style="cursor: pointer" (click)="cerrarSesion()">Salir</p>
  </mat-drawer>
</mat-drawer-container>

<div
  mdbModal
  #frame="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Iniciar Sesión</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <app-login></app-login>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 4em">
  <div class="tabla">
    <div class="btnr">
      <div class="ar">
        <h2 style="text-align: left">Gestionar Usuarios</h2>
      </div>
    </div>
    <div class="theader">
      <div>Perfil</div>
      <div>Email</div>
      <div>Nombre</div>
      <div>Acción</div>
    </div>

    <div class="fila" *ngFor="let item of clientes">
      <div>{{ item.perfil }}</div>
      <div>
        {{ item.email }}
      </div>
      <div>
        {{ item.nombre }} {{ item.apellidos }}
      </div>
      <div>
        <mat-icon
          matTooltip="Borrar"
          style="cursor: pointer"
          (click)="openDialog(cliente.email)"
          >delete</mat-icon
        >

        <mat-icon
          matTooltip="Modificar"
          style="cursor: pointer"
          (click)="frame6.show(); pasarDatos(cliente.email)"
          >edit</mat-icon
        >
      </div>
    </div>

    <!--   <div
    class="
      mdl-cell mdl-cell--6-col-tablet mdl-cell--10-col-desktop mdl-cell--stretch
    "
  >


    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th>Perfil</th>
          <th>Email</th>
          <th>Borrar</th>
          <th>Modificar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>
            {{ cliente.perfil }}
          </td>
          <td>
             {{cliente.email}}
          </td>
          <td>
             <mat-icon
              matTooltip="Borrar"
              style="cursor: pointer"
              (click)="openDialog(cliente.email)"
              >delete</mat-icon
            >
          </td>
          <td>
            <mat-icon
              matTooltip="Modificar"
              style="cursor: pointer"
              data-toggle="modal"
              (click)="frame6.show();pasarDatos(cliente.email)"
              >edit</mat-icon
            >
          </td>
        </tr>
      </tbody>
    </table>
    <br />
  </div>
  <div class="mdl-layout-spacer"></div>
</section> -->

    <div
      mdbModal
      #frame6="mdbModal"
      class="modal fade left"
      id="frameModalTop"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">
              Modificar Cliente
            </h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              (click)="frame6.hide()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <div
              class="md-form mb-5"
              style="display: flex; flex-direction: column"
            >
              <form
                [formGroup]="modificarCliente1"
                (ngSubmit)="modificarCliente()"
              >
                <div style="display: flex; margin-bottom: 1em">
                  <div
                    style="
                      margin-left: 1.5em;
                      margin-right: 4em;
                      display: flex;
                      flex-direction: column;
                    "
                  >
                    Perfil
                    <input type="text" formControlName="perfil" />
                  </div>
                  <div style="display: flex; flex-direction: column">
                    Email
                    <input type="text" formControlName="email" />
                  </div>
                </div>
                <div style="display: flex; margin-bottom: 1em">
                  <div style="margin-right: 1em">
                    Nombre
                    <input type="text" formControlName="nombre" />
                  </div>
                  <div>
                    Apellidos
                    <input type="text" formControlName="apellidos" />
                  </div>
                </div>
                <div style="display: flex; margin-bottom: 1em">
                  <div style="margin-right: 1em">
                    Provincia
                    <input type="text" formControlName="provincia" />
                  </div>
                  <div>
                    Localidad
                    <input type="text" formControlName="localidad" />
                  </div>
                </div>
                <div style="display: flex; margin-bottom: 1em">
                  <div style="margin-right: 28px; margin-left: 11px">
                    Domicilio
                    <input type="text" formControlName="domicilio" />
                  </div>
                  <div>
                    Código Postal
                    <input type="text" formControlName="codigopostal" />
                  </div>
                </div>
                <div style="display: flex; flex-direction: column;">
                  Móvil
                  <input type="text" formControlName="movil" />
                </div>

                <button mat-raised-button style="margin-top:2em">Modificar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
