<mat-toolbar color="primary">
  <button mat-icon-button class="icon-button" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/']">INICIO</button>
    <button mat-menu-item [routerLink]="['/sudaderas']">SUDADERAS</button>
    <button mat-menu-item [routerLink]="['/pantalones']">PANTALONES</button>
    <button mat-menu-item [routerLink]="['/zapatillas']">ZAPATILLAS</button>
    <button mat-menu-item [routerLink]="['/accesorios']">ACCESORIOS</button>
  </mat-menu>

  <span>STREET🏀CULTUR</span>

  <span class="example-spacer"></span>

  <button mat-button class="item" [routerLink]="['/']">INICIO</button>
  <button mat-button class="item" [routerLink]="['/sudaderas']">
    SUDADERAS
  </button>
  <button mat-button class="item" [routerLink]="['/pantalones']">
    PANTALONES
  </button>
  <button mat-button class="item" [routerLink]="['/zapatillas']">
    ZAPATILLAS
  </button>
  <button mat-button class="item" [routerLink]="['/accesorios']">
    ACCESORIOS
  </button>

  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/puntos"
    routerLinkActive="active"
  >
    <mat-icon matBadge="0" matBadgeColor="accent">card_giftcard</mat-icon>
  </button>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/cart"
    routerLinkActive="active"
  >
    <mat-icon [matBadge]="numProductos" matBadgeColor="accent">shopping_cart</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/login"
    routerLinkActive="active"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink=""
    routerLinkActive="active"
    (click)="cerrarSesion()"
  >
    <mat-icon matBadgeColor="accent">exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<!--Section: Block Content-->
<section class="mb-5" style="margin-top: 3em">

  <div class="row">
    <div class="col-md-6 mb-4 mb-md-0">

      <div id="mdb-lightbox-ui"></div>

      <div class="mdb-lightbox">

        <div class="row product-gallery mx-1">

          <div class="col-12 mb-0">
            <figure class="view overlay rounded z-depth-1 main-img">
                <img src="{{ sudaderas.Imagen }}"
                  class="img-fluid z-depth-1">
            </figure>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-3">
                <div class="view overlay rounded z-depth-1 gallery-item">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg"
                    class="img-fluid">
                  <div class="mask rgba-white-slight"></div>
                </div>
              </div>
              <div class="col-3">
                <div class="view overlay rounded z-depth-1 gallery-item">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13a.jpg"
                    class="img-fluid">
                  <div class="mask rgba-white-slight"></div>
                </div>
              </div>
              <div class="col-3">
                <div class="view overlay rounded z-depth-1 gallery-item">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
                    class="img-fluid">
                  <div class="mask rgba-white-slight"></div>
                </div>
              </div>
              <div class="col-3">
                <div class="view overlay rounded z-depth-1 gallery-item">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg"
                    class="img-fluid">
                  <div class="mask rgba-white-slight"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="col-md-6">

      <h5>{{ sudaderas.Nombre }}</h5>
      <p class="mb-2 text-muted text-uppercase small">Sudaderas</p>
      <p><span class="mr-1"><strong>{{ sudaderas.Precio }}€</strong></span></p>
      <p class="pt-1">{{ sudaderas.Descripcion }}</p>
      <div class="table-responsive">
        <table class="table table-sm table-borderless mb-0">
          <tbody>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Model</strong></th>
              <td>Shirt 5407X</td>
            </tr>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Color</strong></th>
              <td>{{ sudaderas.Color }}</td>
            </tr>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Envíos</strong></th>
              <td>A Córdoba <strong>gratis</strong></td>
              <td>A España <strong>3€</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
      <div class="table-responsive mb-2">
        <table class="table table-sm table-borderless">
          <tbody>
            <tr>
              <td class="pl-0 pb-0 w-25">Cantidad</td>
              <td class="pb-0">Selecciona la talla</td>
            </tr>
            <tr>
              <td class="pl-0">
                <input type="text" placeholder="" [ngModel]="cantidad">
              </td>
              <td>
                <div class="mt-1">
                  <div class="form-check form-check-inline pl-0">
                    <select class="browser-default custom-select" [ngModel]="talla">
                      <option value="XS">XS</option>
                      <option value="S">S</option>
                      <option value="M">M</option>
                      <option value="L">L</option>
                      <option value="XL">XL</option>
                      <option value="XXL">XXL</option>
                    </select>
                 </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button type="button" class="btn btn-primary btn-md mr-1 mb-2" routerLink="/pedido" (click)="addCarrito(sudaderas.Nombre, sudaderas.Precio, sudaderas.Imagen, cantidad, talla)">Comprar ahora</button>
      <button type="button" class="btn btn-light btn-md mr-1 mb-2" (click)="addCarrito(sudaderas.Nombre, sudaderas.Precio, sudaderas.Imagen, cantidad, talla)"><i
          class="fas fa-shopping-cart pr-2"></i>Añadir a la carta</button>
    </div>
  </div>

</section>
<!--Section: Block Content-->
