<div>
  <h3>REGISTRO</h3>
  <form [formGroup]="registroForm" (submit)="loginEmail()">
    <div class="example-container">
      <mat-form-field appearance="fill" class="email">
        <mat-label>Escribe tu email</mat-label>
        <input
          matInput
          placeholder="carlos@gmail.com"
          [(ngModel)]="login.email"
          name="email"
          required
        />
        <mat-error *ngIf="registroForm.get('email').errors && registroForm.get('email').dirty">
          <p *ngIf="registroForm.get('email').hasError('required')"> Este campo es requerido</p>
          <p *ngIf="registroForm.get('email').hasError('email')">El formato de email es incorrecto</p>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Escribe tu contraseña</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          [(ngModel)]="login.contrasena"
          name="email"
        />
        <mat-error *ngIf="registroForm.get('password').errors && registroForm.get('password').dirty">
          <p *ngIf="registroForm.get('password').hasError('required')"> Este campo es requerido</p>
          <p *ngIf="registroForm.get('password').hasError('minlength')">La contraseña debe tener 3 caracteres como mínimo</p>
        </mat-error>
        <button
          mat-icon-button
          matSuffix
          type="submit"
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          [disabled]="registroForm.invalid"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-button>REGÍSTRATE</button>
    </div>
  </form>
</div>
<app-footer></app-footer>
