<app-header></app-header>
<h2>PANTALONES</h2>
<div>
  <div>
    <mat-card class="example-card" *ngFor="let pantalon of pantalones">
      <mat-card-header style="display: flex;place-content: center;">
        <mat-card-title>{{ pantalon.Nombre }}</mat-card-title>
        <mat-card-subtitle style="font-weight: bold"
          >{{ pantalon.Precio }} €</mat-card-subtitle
        >
      </mat-card-header>
      <img
        mat-card-image
        src="{{ pantalon.Imagen }}"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>{{ pantalon.Descripcion }}</p>
      </mat-card-content>
      <mat-card-actions style="display:flex;justify-content: center;">
        <button
          mat-button
          (click)="guardarProducto(pantalon.Nombre, pantalon.Precio)"
        >
          AÑADIR AL CARRITO
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<app-footer></app-footer>
