h2,h3
  text-align: center
.example-small-box, .example-large-box
  display: flex
  align-items: center
  justify-content: center
  margin: 16px
  padding: 16px
  border-radius: 8px

.example-large-box1
  height: 50em
  display: flex
  align-items: center
  justify-content: center
  margin: 16px
  padding: 16px
  border-radius: 8px

.example-large-box
  height: 10em

.example-card
  max-width: 400px

.example-header-image
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg')
  background-size: cover
