<mat-toolbar color="primary" style="height: 5em;">
  <button mat-icon-button class="icon-button" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="item" [routerLink]="['/']">INICIO</button>
    <button mat-menu-item class="item" [routerLink]="['/ropa']">ROPA</button>
  </mat-menu>

  <img src="../../../../assets/logo.gif" width="120" alt="">

  <span class="example-spacer"></span>

  <button mat-button class="item" [routerLink]="['/']">INICIO</button>
  <button mat-button class="item" [routerLink]="['/ropa']">ROPA</button>

  <span class="example-spacer"></span>
  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/puntos"
    routerLinkActive="active"
  >
    <mat-icon matBadge="{{numPuntos}}" matBadgeColor="accent">card_giftcard</mat-icon>
  </button>

  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/cart"
    routerLinkActive="active"
  >
    <mat-icon [matBadge]="numProductos" matBadgeColor="accent">shopping_cart</mat-icon>
  </button>
  <button
   *ngIf="!estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLinkActive="active"
    matTooltip="Iniciar Sesión"
    data-toggle="modal"
    (click)="frame.show()"
    mdbWavesEffect
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink=""
    routerLinkActive="active"
    (click)="cerrarSesion()"
  >
    <mat-icon matBadgeColor="accent">exit_to_app</mat-icon>
  </button>
</mat-toolbar>



<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Login</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <app-login></app-login>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 style="text-align: center;">¡Consigue puntos por cada compra!</h4>
<h2 style="text-align: center;">{{puntos}} puntos</h2>
      <mat-card>
          <h3>¿Que es el sistema de Puntos de Descuento?</h3>
      <p>
        El Sistema de Puntos de Descuento se ha creado para agradecerte tu apoyo
        y ofrecerte futuros incentivos. Nuestro Sistema de Puntos de Descuento
        es tan simple como su propio nombre indica. Comprando en
        www.streetcultur.com tu irás acumulando Puntos de Compra por el dinero
        que vayas gastando. Una vez acumulados, podrás usarlos para pagar
        futuras compras en www.streetcultur.com
      </p>

      <h3>¿Cómo funciona?</h3>
      <p>
        Por cada pedido recibes un punto de descuento. Esos puntos son acumulables hasta llegar a 100 puntos.
        En todos los productos se pueden canjear los puntos.
      </p>

      <h3>Puntos</h3>
      <p>
        Actualmente, por cada compra realizada en www.streetcultur.es consigues
        1 punto. Cada punto está valorado en 1 € de descuento para futuras
        compras. Por ejemplo: Coste del Producto: 20,00 € Cantidad de descuento
        conseguidos: 1,00 €
      </p>

      <h3>¿Cómo se canjean los puntos de compra?</h3>
      <p>
        Durante el proceso de confirmación del pedido, en la misma página donde seleccionas el
        método de pago, se mostrará un espacio donde introducir la cantidad de
        puntos que deseas canjear. Escribe la cantidad de puntos que deseas
        gastar. Es importante señalar que puede que tengas que seleccionar otro método de
        pago si no tienes suficientes puntos para compensar el importe de la
        compra. Una vez pasado a la página de confirmación del pedido, se te
        indicará la cantidad de puntos que se han generado por la compra. Una
        vez confirmado el pedido, tus puntos de descuento se actualizará y los
        puntos usados se deducirán de tu cuenta.
      </p>

      <h3>Cantidad mínima requerida</h3>
      <p>
        No hay cantidad mínima, si tienes solamente 1 punto (1€) puedes gastarlo
      </p>

      <h3>Cantidad máxima de puntos</h3>
      <p>
        Se permite un máximo de 100 puntos (100 €) para canjear por pedido. Te
        recomendamos consultes esta página con asiduidad por si realizamos
        cambios en este apartado.
      </p>

      <h3>¿Se consiguen puntos por gastos de envío?</h3>
      <p>No.</p>

      <h3>¿Se consiguen puntos por los productos rebajados?</h3>
      <p>Si.</p>

      <h3>¿Se consiguen puntos por las compras pagadas por puntos?</h3>
      <p>Si.</p>
      </mat-card>

<app-footer></app-footer>
