<mat-toolbar color="primary" style="height: 80px;">
  <button mat-icon-button class="icon-button" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="item" [routerLink]="['/admin']">INICIO</button>
    <button mat-menu-item class="item" [routerLink]="['/gestionarusuarios']">GESTIONAR USUARIOS</button>
    <button mat-menu-item class="item" [routerLink]="['/gestionarincidencias']">GESTIONAR INCIDENCIAS</button>
  </mat-menu>

  <div *ngIf="cliente.imagen != null;else noavatar">
    <a routerLink="/miperfil" (click)="drawer.toggle()">
      <img src="{{cliente.imagen}}" width="70" class="avatar">
    </a>
  </div>

  <ng-template #noavatar>
    <div *ngIf="estaLogueado == true;else aa">
      <a routerLink="/miperfil" (click)="drawer.toggle()">
        <img src="../../../../assets/avatardefault.png" width="70" class="avatar">
      </a>
    </div>
    <ng-template #aa>
    </ng-template>
  </ng-template>

  <span class="example-spacer"></span>

  <button mat-button class="item" [routerLink]="['/admin']">INICIO</button>
  <button mat-button class="item" [routerLink]="['/gestionarusuarios']">GESTIONAR USUARIOS</button>
  <button mat-button class="item" [routerLink]="['/gestionarincidencias']"> GESTIONAR INCIDENCIAS <mat-icon  class="icninc" matBadge="{{numIncidencias}}" matBadgeColor="accent" MatBadgeSize="small">assignment</mat-icon></button>

  <span class="example-spacer"></span>

  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/cart"
    routerLinkActive="active"
  >
  </button>
  <button
    *ngIf="!estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLinkActive="active"
    matTooltip="Iniciar Sesión"
    data-toggle="modal"
    (click)="frame.show()"
    mdbWavesEffect
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink=""
    routerLinkActive="active"
    (click)="cerrarSesion()"
  >
    <mat-icon matBadgeColor="accent">exit_to_app</mat-icon>
  </button>

</mat-toolbar>
<mat-drawer class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p style="cursor:pointer" >{{cliente.nombre}} {{cliente.apellidos}}</p>
    <p>Perfil: {{cliente.perfil}}</p>
    <p style="cursor:pointer" routerLink="/informacion">Mi información</p>
    <p style="cursor:pointer" (click)="cerrarSesion()">Salir</p>
  </mat-drawer>
</mat-drawer>

<div
  mdbModal
  #frame="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Iniciar Sesión</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <app-login></app-login>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 5em;">
  <img src="../../assets/admin.ico" alt="" width="80"/>
  <h3 style="text-align: center;margin-top: 2em; font-weight: 100;">Bienvenido al panel de administración</h3>
</div>
<div style="display: flex; flex-direction: column; align-items: center; margin-top: 3em">
  <mat-card class="numerocliente">
    <h4 style="text-align: center;">Estadísticas Generales</h4>
    <h2 style="text-align: center;">{{numClientes}}</h2>
    <p style="text-align: center;">Nº de clientes</p>
    <h2 style="text-align: center;">{{numIncidencias}}</h2>
    <p style="text-align: center;">Incidencias</p>
  </mat-card>
</div>
