.mdl-data-table
  table-layout: fixed
  width: 100%

#my-table td,
th
  width: 100%
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  -o-text-overflow: ellipsis

/* unrelated to responsive table css */
#my-table
  margin-top: 24px

.mdl-data-table th,
td
  text-align: left !important

.center
  text-align: center

.example-spacer
  flex: 1 1 auto
mat-toolbar
  .icon-button
    @media screen and ( min-width: 700px)
      display: none
  .item
    @media screen and ( max-width: 700px)
      display: none
.item
  font-size: 17px
  font-weight: 500
mat-icon
  font-size: 32px

.numerocliente
  width: 200px
  margin-left: 2em

img
  display: block
  margin: 0 auto

.icninc
  font-size: 20px
.mat-badge-content
  background: red
  color: blue
.btnr
  display: flex
  .ar
    width: 60em
    display: flex
    place-content: center
    h2
      margin: 0 197px 16px 0px

.bntadd
  height: 36px
.item
  font-size: 17px
  font-weight: 500
mat-icon
  font-size: 32px
.avatar
  border-radius: 5em
.example-icon
  margin-right: 1em
.icn1
  font-size: 25px
.icninc
  font-size: 21px
