<mat-toolbar color="primary" style="height: 80px;">
  <button mat-icon-button class="icon-button" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="item" [routerLink]="['/admin']">INICIO</button>
    <button mat-menu-item class="item" [routerLink]="['/gestionarusuarios']">GESTIONAR USUARIOS</button>
    <button mat-menu-item class="item" [routerLink]="['/gestionarincidencias']">GESTIONAR INCIDENCIAS</button>
  </mat-menu>

    <div
    *ngIf="cliente.imagen != null; else noavatar"
    style="display: flex; align-items: center"
  >
    <a (click)="frame11.show()">
      <img src="{{ cliente.imagen }}" width="70" class="avatar" />
    </a>
    <div style="display: flex; flex-direction: column; align-items: center">
      <p style="margin-left: 1em; font-size: 12px; margin-bottom: 0">
        {{ cliente.nombre }} {{ cliente.apellidos }}
      </p>
      <hr
        style="border: 1px solid black; width: 3em; margin: 0px 0px 0px 12px"
      />
      <p style="font-size: 10px; margin-left: 1em; margin-bottom: 0">
        {{ cliente.perfil }}
      </p>
    </div>
  </div>
  <ng-template #noavatar>
    <div
      *ngIf="estaLogueado == true; else aa"
      style="display: flex; align-items: center"
    >
      <a (click)="frame11.show()">
        <img src="../../../../assets/avatar1.png" width="70" class="avatar" />
      </a>
      <div style="display: flex; flex-direction: column; align-items: center">
        <p style="margin-left: 1em; font-size: 12px; margin-bottom: 0">
          {{ cliente.nombre }} {{ cliente.apellidos }}
        </p>
        <hr
          style="border: 1px solid black; width: 3em; margin: 0px 0px 0px 12px"
        />
        <p style="font-size: 10px; margin-left: 1em; margin-bottom: 0">
          {{ cliente.perfil }}
        </p>
      </div>
    </div>
    <ng-template #aa> </ng-template>
  </ng-template>


  <span class="example-spacer"></span>

  <button mat-button class="item" [routerLink]="['/admin']">INICIO</button>
  <button mat-button class="item" [routerLink]="['/gestionarusuarios']">GESTIONAR USUARIOS</button>
  <button mat-button class="item" [routerLink]="['/gestionarincidencias']"> GESTIONAR INCIDENCIAS <mat-icon  class="icninc" matBadge="{{numIncidencias}}" matBadgeColor="accent" MatBadgeSize="small">assignment</mat-icon></button>

  <span class="example-spacer"></span>

  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/cart"
    routerLinkActive="active"
  >
  </button>
  <button
    *ngIf="!estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLinkActive="active"
    matTooltip="Iniciar Sesión"
    data-toggle="modal"
    (click)="frame.show()"
    mdbWavesEffect
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink=""
    routerLinkActive="active"
    (click)="cerrarSesion()"
  >
    <mat-icon matBadgeColor="accent">exit_to_app</mat-icon>
  </button>

</mat-toolbar>
<div
  mdbModal
  #frame11="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Información Personal</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame11.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <form
            [formGroup]="form1"
            (ngSubmit)="actualizarInfo()"
            style="display: flex; flex-direction: column; place-content: center"
          >
            <input type="hidden" formControlName="id" />
            Nombre (*)
            <input
              type="text"
              formControlName="nombre"
              style="margin-bottom: 1em"
            />
            Apellidos (*)
            <input
              type="text"
              formControlName="apellidos"
              style="margin-bottom: 1em"
            />
            Provincia (*)
            <input
              type="text"
              formControlName="provincia"
              style="margin-bottom: 1em"
            />
            Localidad (*)
            <input
              type="text"
              formControlName="localidad"
              style="margin-bottom: 1em"
            />
            Domicilio (*)
            <input
              type="text"
              formControlName="domicilio"
              style="margin-bottom: 1em"
            />
            Imagen (*)
            <div style="display: flex">
              <div>
                <p
                  style="font-size: 10px; margin-bottom: 0; margin-right: 10px"
                >
                  Avatar 1
                </p>
                <img src="../../../../assets/avatar1.png" width="30" alt="" />
              </div>
              <div>
                <p
                  style="font-size: 10px; margin-bottom: 0; margin-right: 10px"
                >
                  Avatar 2
                </p>
                <img src="../../../../assets/avatar2.png" width="30" alt="" />
              </div>
              <div>
                <p
                  style="font-size: 10px; margin-bottom: 0; margin-right: 10px"
                >
                  Avatar 3
                </p>
                <img src="../../../../assets/avatar3.png" width="30" alt="" />
              </div>
            </div>
            <select formControlName="imagen" style="margin-top: 1em">
              <option value="../../../../assets/avatar1.png">Avatar 1</option>
              <option value="../../../../assets/avatar2.png">Avatar 2</option>
              <option value="../../../../assets/avatar3.png">Avatar 3</option>
            </select>
            <button [disabled]="form1.invalid" mat-raised-button type="submit" style="margin-top: 2em">
              Actualizar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  mdbModal
  #frame="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Iniciar Sesión</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <app-login></app-login>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 5em;">
  <img src="../../assets/admin.ico" alt="" width="80"/>
  <h3 style="text-align: center;margin-top: 2em; font-weight: 100;">Bienvenido al panel de administración</h3>
</div>
<div style="display: flex; flex-direction: column; align-items: center; margin-top: 3em">
  <mat-card class="numerocliente">
    <h4 style="text-align: center;">Estadísticas Generales</h4>
    <h2 style="text-align: center;">{{numClientes}}</h2>
    <p style="text-align: center;">Nº de clientes</p>
    <h2 style="text-align: center;">{{numIncidencias}}</h2>
    <p style="text-align: center;">Incidencias</p>
  </mat-card>
</div>
