<app-header></app-header>

<section class="mdl-grid" id="my-table" >
  <div class="mdl-layout-spacer"></div>
  <div
    class="
      mdl-cell mdl-cell--6-col-tablet mdl-cell--10-col-desktop mdl-cell--stretch
    "
  >
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="">
          <td><mat-icon style="cursor: pointer;">delete</mat-icon> </td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <br />
  </div>
  <div class="mdl-layout-spacer"></div>
</section>

<app-footer></app-footer>
