<mat-toolbar color="primary" style="height: 80px">
  <button mat-icon-button class="icon-button" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/']">INICIO</button>
    <button mat-menu-item [routerLink]="['/ropa']">ROPA</button>
    <button mat-menu-item class="item" [routerLink]="['/novedades']">
      NOVEDADES
    </button>
    <button mat-menu-item class="item" [routerLink]="['/contacto']">
      CONTACTO
    </button>
  </mat-menu>

  <div
    *ngIf="cliente.imagen != null; else noavatar"
    style="display: flex; align-items: center"
  >
    <a (click)="frame11.show()">
      <img src="{{ cliente.imagen }}" width="70" class="avatar" />
    </a>
    <div style="display: flex; flex-direction: column; align-items: center">
      <p style="margin-left: 1em; font-size: 12px; margin-bottom: 0">
        {{ cliente.nombre }} {{ cliente.apellidos }}
      </p>
      <hr
        style="border: 1px solid black; width: 3em; margin: 0px 0px 0px 12px"
      />
      <p style="font-size: 10px; margin-left: 1em; margin-bottom: 0">
        {{ cliente.perfil }}
      </p>
    </div>
  </div>
  <ng-template #noavatar>
    <div
      *ngIf="estaLogueado == true; else aa"
      style="display: flex; align-items: center"
    >
      <a (click)="frame11.show()">
        <img src="../../../../assets/avatar1.png" width="70" class="avatar" />
      </a>
      <div style="display: flex; flex-direction: column; align-items: center">
        <p style="margin-left: 1em; font-size: 12px; margin-bottom: 0">
          {{ cliente.nombre }} {{ cliente.apellidos }}
        </p>
        <hr
          style="border: 1px solid black; width: 3em; margin: 0px 0px 0px 12px"
        />
        <p style="font-size: 10px; margin-left: 1em; margin-bottom: 0">
          {{ cliente.perfil }}
        </p>
      </div>
    </div>
    <ng-template #aa> </ng-template>
  </ng-template>

  <span class="example-spacer"></span>

  <button mat-button class="item" [routerLink]="['/']">INICIO</button>
  <button mat-button class="item" [routerLink]="['/ropa']">ROPA</button>
  <img src="../../../../assets/S.png" width="120" alt="" />
  <button mat-button class="item" [routerLink]="['/novedades']">
    NOVEDADES
  </button>
  <button mat-button class="item" [routerLink]="['/contacto']">CONTACTO</button>

  <span class="example-spacer"></span>
  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/puntos"
    routerLinkActive="active"
  >
    <mat-icon [matBadge]="puntos" matBadgeColor="accent"
      >card_giftcard</mat-icon
    >
  </button>

  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/cart"
    routerLinkActive="active"
  >
    <mat-icon [matBadge]="numProductos" matBadgeColor="accent"
      >shopping_cart</mat-icon
    >
  </button>
  <button
    *ngIf="!estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLinkActive="active"
    matTooltip="Iniciar Sesión"
    data-toggle="modal"
    (click)="frame.show()"
    mdbWavesEffect
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink=""
    routerLinkActive="active"
    (click)="cerrarSesion()"
  >
    <mat-icon matBadgeColor="accent">exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<div
  mdbModal
  #frame11="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Información Personal</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame11.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <form
            [formGroup]="form1"
            (ngSubmit)="actualizarInfo()"
            style="display: flex; flex-direction: column; place-content: center"
          >
            <input type="hidden" formControlName="id" />
            Nombre
            <input type="text" formControlName="nombre" style="margin-bottom: 1em"/>
            Apellidos
            <input type="text" formControlName="apellidos" style="margin-bottom: 1em"/>
            Provincia
            <input type="text" formControlName="provincia" style="margin-bottom: 1em"/>
            Localidad
            <input type="text" formControlName="localidad" style="margin-bottom: 1em"/>
            Domicilio
            <input type="text" formControlName="domicilio" style="margin-bottom: 1em"/>
            Imagen
            <div style="display: flex">
              <div>
                <p style="font-size: 10px;margin-bottom:0;margin-right:10px">Avatar 1</p>
                <img src="../../../../assets/avatar1.png" width="30" alt="" />
              </div>
              <div>
                <p style="font-size: 10px;margin-bottom:0;margin-right:10px">Avatar 2</p>
                <img src="../../../../assets/avatar2.png" width="30" alt="" />
              </div>
              <div>
                <p style="font-size: 10px;margin-bottom:0;margin-right:10px">Avatar 3</p>
                <img src="../../../../assets/avatar3.png" width="30" alt="" />
              </div>
            </div>
            <select formControlName="imagen" style="margin-top: 1em;">
              <option value="../../../../assets/avatar1.png">Avatar 1</option>
              <option value="../../../../assets/avatar2.png">Avatar 2</option>
              <option value="../../../../assets/avatar3.png">Avatar 3</option>
            </select>
            <button mat-raised-button type="submit" style="margin-top: 2em">
              Actualizar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  mdbModal
  #frame="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Iniciar Sesión</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <app-login></app-login>
        </div>
      </div>
    </div>
  </div>
</div>

<meta name="description" content="Responsive Material Design Lite Table" />

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>
<link
  rel="stylesheet"
  href="https://code.getmdl.io/1.1.3/material.green-light_green.min.css"
/>
<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

<div class="grey lighten-3">
  <!--Main layout-->
  <main class="pt-4">
    <div class="container wow fadeIn">
      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Pedido</h2>

      <!--Grid row-->
      <div class="row">
        <form
          [formGroup]="form2"
          (ngSubmit)="validarDatos()"
          style="display: flex"
        >
          <!--Grid column-->
          <div class="col-md-8 mb-4">
            <!--Card-->
            <div class="card">
              <!--Card content-->
              <div class="card-body">
                <!--Grid row-->
                <div class="row">
                  <!--Grid column-->
                  <div class="col-md-6 mb-2">
                    <!--firstName-->
                    <div class="md-form">
                      Nombre
                      <input
                        type="text"
                        class="form-control"
                        formControlName="nombre"
                        required
                      />
                      <mat-error
                        *ngIf="
                          form2.get('nombre').errors &&
                          form2.get('nombre').dirty
                        "
                      >
                        <p *ngIf="form2.get('nombre').hasError('required')">
                          Este campo es requerido
                        </p>
                      </mat-error>
                    </div>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-6 mb-2">
                    <!--lastName-->
                    <div class="md-form">
                      Apellidos
                      <input
                        type="text"
                        class="form-control"
                        formControlName="apellidos"
                        required
                      />
                      <mat-error
                        *ngIf="
                          form2.get('apellidos').errors &&
                          form2.get('apellidos').dirty
                        "
                      >
                        <p *ngIf="form2.get('apellidos').hasError('required')">
                          Este campo es requerido
                        </p>
                      </mat-error>
                    </div>
                  </div>
                  <!--Grid column-->
                </div>
                <!--Grid row-->

                <!--email-->
                <div class="md-form mb-5">
                  Email
                  <input
                    type="text"
                    class="form-control"
                    formControlName="email"
                    required
                  />
                  <mat-error
                    *ngIf="
                      form2.get('email').errors && form2.get('email').dirty
                    "
                  >
                    <p *ngIf="form2.get('email').hasError('required')">
                      Este campo es requerido
                    </p>
                  </mat-error>
                </div>

                <!--address-->
                <div class="md-form mb-5">
                  Domicilio
                  <input
                    type="text"
                    class="form-control"
                    formControlName="domicilio"
                    required
                  />
                  <mat-error
                    *ngIf="
                      form2.get('domicilio').errors &&
                      form2.get('domicilio').dirty
                    "
                  >
                    <p *ngIf="form2.get('domicilio').hasError('required')">
                      Este campo es requerido
                    </p>
                  </mat-error>
                </div>

                <!--Grid row-->
                <div class="row">
                  <!--Grid column-->
                  <div class="col-lg-4 col-md-12 mb-4">
                    <label for="provincia">Provincia</label>
                    <select
                      class="custom-select d-block w-100"
                      formControlName="provincia"
                      required
                    >
                      <option value="">Elige Provincia</option>
                      <option value="Álava/Araba">Álava/Araba</option>
                      <option value="Albacete">Albacete</option>
                      <option value="Alicante">Alicante</option>
                      <option value="Almería">Almería</option>
                      <option value="Asturias">Asturias</option>
                      <option value="Ávila">Ávila</option>
                      <option value="Badajoz">Badajoz</option>
                      <option value="Baleares">Baleares</option>
                      <option value="Barcelona">Barcelona</option>
                      <option value="Burgos">Burgos</option>
                      <option value="Cáceres">Cáceres</option>
                      <option value="Cádiz">Cádiz</option>
                      <option value="Cantabria">Cantabria</option>
                      <option value="Castellón">Castellón</option>
                      <option value="Ceuta">Ceuta</option>
                      <option value="Ciudad Real">Ciudad Real</option>
                      <option value="Córdoba">Córdoba</option>
                      <option value="Cuenca">Cuenca</option>
                      <option value="Gerona/Girona">Gerona/Girona</option>
                      <option value="Granada">Granada</option>
                      <option value="Guadalajara">Guadalajara</option>
                      <option value="Guipúzcoa/Gipuzkoa">
                        Guipúzcoa/Gipuzkoa
                      </option>
                      <option value="Huelva">Huelva</option>
                      <option value="Huesca">Huesca</option>
                      <option value="Jaén">Jaén</option>
                      <option value="La Coruña/A Coruña">
                        La Coruña/A Coruña
                      </option>
                      <option value="La Rioja">La Rioja</option>
                      <option value="Las Palmas">Las Palmas</option>
                      <option value="León">León</option>
                      <option value="Lérida/Lleida">Lérida/Lleida</option>
                      <option value="Lugo">Lugo</option>
                      <option value="Madrid">Madrid</option>
                      <option value="Málaga">Málaga</option>
                      <option value="Melilla">Melilla</option>
                      <option value="Murcia">Murcia</option>
                      <option value="Navarra">Navarra</option>
                      <option value="Orense/Ourense">Orense/Ourense</option>
                      <option value="Palencia">Palencia</option>
                      <option value="Pontevedra">Pontevedra</option>
                      <option value="Salamanca">Salamanca</option>
                      <option value="Segovia">Segovia</option>
                      <option value="Sevilla">Sevilla</option>
                      <option value="Soria">Soria</option>
                      <option value="Tarragona">Tarragona</option>
                      <option value="Tenerife">Tenerife</option>
                      <option value="Teruel">Teruel</option>
                      <option value="Toledo">Toledo</option>
                      <option value="Valencia">Valencia</option>
                      <option value="Valladolid">Valladolid</option>
                      <option value="Vizcaya/Bizkaia">Vizcaya/Bizkaia</option>
                      <option value="Zamora">Zamora</option>
                      <option value="Zaragoza">Zaragoza</option>
                    </select>
                    <div class="invalid-feedback">
                      Please select a valid country.
                    </div>
                    <mat-error
                      *ngIf="
                        form2.get('provincia').errors &&
                        form2.get('provincia').dirty
                      "
                    >
                      <p *ngIf="form2.get('provincia').hasError('required')">
                        Este campo es requerido
                      </p>
                    </mat-error>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-lg-4 col-md-6 mb-4">
                    <label for="localidad">Localidad</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="localidad"
                      required
                    />

                    <div class="invalid-feedback">
                      Please provide a valid state.
                    </div>
                    <mat-error
                      *ngIf="
                        form2.get('localidad').errors &&
                        form2.get('localidad').dirty
                      "
                    >
                      <p *ngIf="form2.get('localidad').hasError('required')">
                        Este campo es requerido
                      </p>
                    </mat-error>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-lg-4 col-md-6 mb-4">
                    <label for="codigo">Codigo Postal</label>
                    <input
                      type="number"
                      class="form-control"
                      formControlName="codigopostal"
                      required
                    />
                    <div class="invalid-feedback">Zip code required.</div>
                    <mat-error
                      *ngIf="
                        form2.get('codigopostal').errors &&
                        form2.get('codigopostal').dirty
                      "
                    >
                      <p *ngIf="form2.get('codigopostal').hasError('required')">
                        Este campo es requerido
                      </p>
                    </mat-error>
                  </div>
                  <!--Grid column-->
                  <div class="col-lg-4 col-md-6 mb-4">
                    <label for="codigo">Móvil</label>
                    <input
                      type="number"
                      class="form-control"
                      formControlName="movil"
                      required
                    />
                    <mat-error
                      *ngIf="
                        form2.get('movil').errors && form2.get('movil').dirty
                      "
                    >
                      <p *ngIf="form2.get('movil').hasError('required')">
                        Este campo es requerido
                      </p>
                    </mat-error>
                  </div>
                </div>
                <!--Grid row-->
                <div style="text-align: center">
                  <button mat-raised-button type="submit">
                    Actualizar Información
                  </button>
                </div>

                <!-- sb-sm9yh8614634@business.example.com -->
                <!-- R})k5YD9 -->
                <div id="miPaypalBoton" style="margin-top: 2em"></div>
              </div>
            </div>
            <!--/.Card-->
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-4 mb-4">
            <!-- Heading -->
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-muted">Tu carro</span>
              <span class="badge badge-secondary badge-pill">{{
                numProductos
              }}</span>
            </h4>

            <!-- Cart -->
            <ul
              class="list-group mb-3 z-depth-1"
              *ngIf="flag == false; else comprarahora"
            >
              <li
                class="
                  list-group-item
                  d-flex
                  justify-content-between
                  lh-condensed
                "
                *ngFor="let item of productosEnCarrito"
              >
                <div>
                  <h6 class="my-0">{{ item[1] }}</h6>
                  <small class="text-muted">Talla: </small>
                  <span class="text-muted">{{ item[6] }}</span>
                </div>
              </li>
              <li
                class="list-group-item d-flex justify-content-between bg-light"
              >
                <div class="text-success">
                  <h6 class="my-0">Puntos</h6>
                  <small>{{ puntos }}</small>
                </div>
                <span class="text-success">-{{ canjearpuntos }}€</span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>Total (€)</span>
                <strong
                  *ngIf="
                    cliente.codigopostal > 14999 ||
                      cliente.codigopostal < 14000;
                    else gratis
                  "
                  >{{ total + 3 - canjearpuntos }}</strong
                >
                <ng-template #gratis>{{
                  total - 3 - canjearpuntos
                }}</ng-template>
              </li>
            </ul>
            <!-- Cart -->

            <ng-template #comprarahora>
              <ul class="list-group mb-3 z-depth-1">
                <li
                  class="
                    list-group-item
                    d-flex
                    justify-content-between
                    lh-condensed
                  "
                >
                  <div>
                    <h6 class="my-0">{{ nombre }}</h6>
                    <small class="text-muted">Talla: </small>
                    <span class="text-muted">{{ talla }}</span>
                  </div>
                </li>
                <li
                  class="
                    list-group-item
                    d-flex
                    justify-content-between
                    bg-light
                  "
                >
                  <div class="text-success">
                    <h6 class="my-0">Puntos</h6>
                    <small>{{ puntos }}</small>
                  </div>
                  <span class="text-success" id="ptn">-0€</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span>Total (€)</span>
                  <strong
                    id="totalConEnvio"
                    *ngIf="
                      cliente.codigopostal > 14999 ||
                        cliente.codigopostal < 14000;
                      else gratis
                    "
                    >{{ total + 3 - canjearpuntos }}</strong
                  >
                  <ng-template #gratis>{{
                    total - 3 - canjearpuntos
                  }}</ng-template>
                </li>
              </ul>
            </ng-template>

            <!-- Promo code -->
            <form
              [formGroup]="canjearPuntos"
              (ngSubmit)="validarPuntos()"
              class="card p-2"
            >
              <div class="input-group">
                <input
                  type="number"
                  class="form-control"
                  placeholder="0"
                  aria-label="Recipient's username"
                  formControlName="puntos"
                  aria-describedby="basic-addon2"
                />
              </div>
              <button mat-raised-button [disabled]="canjearPuntos.invalid">
                Canjear Puntos
              </button>
              <mat-error
                *ngIf="
                  canjearPuntos.get('puntos').errors &&
                  canjearPuntos.get('puntos').dirty
                "
              >
                <p *ngIf="canjearPuntos.get('puntos').hasError('min')">
                  No se admite números negativos.
                </p>
              </mat-error>
            </form>
            <p *ngIf="flag2">
              El número de puntos es superior al precio total del producto.
            </p>
            <!-- Promo code -->

            <div *ngIf="puntos < canjearpuntos">
              No tienes puntos suficientes
            </div>
          </div>
          <!--Grid column-->
          <!--Grid row-->
          <!--Main layout-->

          <!-- <app-footer></app-footer> -->
        </form>
      </div>
    </div>
  </main>
</div>
