<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="icon-button"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/admin']">INICIO</button>
    <button mat-menu-item [routerLink]="['/gestionar-usuarios']">GESTIONAR USUARIOS</button>
    <button mat-menu-item [routerLink]="['/gestionar-empleados']">GESTIONAR EMPLEADOS</button>
    <button mat-menu-item [routerLink]="['/gestionar-incidencias']">GESTIONAR INCIDENCIAS</button>
  </mat-menu>

  <span>STREET🏀CULTUR</span>

  <span class="example-spacer"></span>

  <button mat-button class="item" [routerLink]="['/']">INICIO</button>
  <button mat-button class="item" [routerLink]="['/sudaderas']">
    GESTIONAR USUARIOS
  </button>
  <button mat-button class="item" [routerLink]="['/pantalones']">
    GESTIONAR EMPLEADOS
  </button>
  <button mat-button class="item" [routerLink]="['/zapatillas']">
    GESTIONAR INCIDENCIAS
  </button>

  <span class="example-spacer"></span>
  <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with heart icon"
      routerLink="/puntos"
      routerLinkActive="active"
    >
      <mat-icon matBadge="5" matBadgeColor="accent">card_giftcard</mat-icon>
    </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/login"
    routerLinkActive="active"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with heart icon"
      routerLink="/cart"
      routerLinkActive="active"
    >
      <mat-icon matBadge="0" matBadgeColor="accent">shopping_cart</mat-icon>
    </button>
</mat-toolbar>
