<mat-toolbar color="primary">
  <button mat-icon-button class="icon-button" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/']">INICIO</button>
    <button mat-menu-item [routerLink]="['/sudaderas']">SUDADERAS</button>
    <button mat-menu-item [routerLink]="['/pantalones']">PANTALONES</button>
    <button mat-menu-item [routerLink]="['/zapatillas']">ZAPATILLAS</button>
    <button mat-menu-item [routerLink]="['/accesorios']">ACCESORIOS</button>
  </mat-menu>

  <span>STREET🏀CULTUR</span>

  <span class="example-spacer"></span>

  <button mat-button class="item" [routerLink]="['/']">INICIO</button>
  <button mat-button class="item" [routerLink]="['/sudaderas']">
    SUDADERAS
  </button>
  <button mat-button class="item" [routerLink]="['/pantalones']">
    PANTALONES
  </button>
  <button mat-button class="item" [routerLink]="['/zapatillas']">
    ZAPATILLAS
  </button>
  <button mat-button class="item" [routerLink]="['/accesorios']">
    ACCESORIOS
  </button>

  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/puntos"
    routerLinkActive="active"
  >
    <mat-icon matBadge="0" matBadgeColor="accent">card_giftcard</mat-icon>
  </button>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/cart"
    routerLinkActive="active"
  >
    <mat-icon [matBadge]="numProductos" matBadgeColor="accent">shopping_cart</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/login"
    routerLinkActive="active"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink=""
    routerLinkActive="active"
    (click)="cerrarSesion()"
  >
    <mat-icon matBadgeColor="accent">exit_to_app</mat-icon>
  </button>
</mat-toolbar>





<h2>SUDADERAS</h2>
<div>
  <mat-card class="example-card" *ngFor="let sudadera of sudaderas">
    <mat-card-header style="display: flex;place-content: center;">
      <mat-card-title>{{ sudadera.Nombre }}</mat-card-title>
      <mat-card-subtitle style="font-weight: bold"
        >{{ sudadera.Precio }} €</mat-card-subtitle
      >
    </mat-card-header>
    <img
      mat-card-image
      src="{{ sudadera.Imagen }}"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>{{ sudadera.Descripcion }}</p>
    </mat-card-content>
    <mat-card-actions style="display:flex;justify-content: center;">
      <button
        mat-button
        (click)="guardarProducto(sudadera.Nombre, sudadera.Precio)"
      >
        AÑADIR AL CARRITO
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<app-footer></app-footer>
