<div class="header">
  <img src="../../assets/outline_list_black_24dp.png"  width="24px" height="24px" alt="" (click)="estadoMenu()">
  <h1>STREET🏀CULTUR</h1>
  <!-- <h2>CARRITO(0)</h2> -->
  <img class="img-cart"src="../../../assets/cart.png" width="20px" height="20px" alt="">
  <img class="img-user" src="../../../assets/user.png" width="20px" height="20px" alt="">
</div>
<nav>
  <ul [ngStyle]="{display: abrirCerrar()}">
    <!-- <li>
      <a href="#">NOVEDADES</a>
    </li> -->
    <li>
      <a href="#">SUDADERAS</a>
    </li>
    <li>
      <a href="#">PANTALONES</a>
    </li>
    <li>
      <a href="#">ZAPATILLAS</a>
    </li>
    <li>
      <a href="#">ACCESORIOS</a>
    </li>
  </ul>
</nav>
