<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="icon-button"
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>SUDADERAS</button>
    <button mat-menu-item>PANTALONES</button>
    <button mat-menu-item>ZAPATILLAS</button>
    <button mat-menu-item>ACCESORIOS</button>
  </mat-menu>

  <span>STREET🏀CULTUR</span>

  <span class="example-spacer"></span>

  <button mat-button class="item" [routerLink]="['/']" >INICIO</button>
  <button mat-button class="item">SUDADERAS</button>
  <button mat-button class="item">PANTALONES</button>
  <button mat-button class="item">ZAPATILLAS</button>
  <button mat-button class="item">ACCESORIOS</button>

  <span class="example-spacer"></span>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/login"
    routerLinkActive="active"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>add_shopping_cart</mat-icon>
  </button>
</mat-toolbar>
