<!-- <div class="header">
  <img class="img-logo" src="../../assets/outline_list_black_24dp.png"  width="24px" height="24px" alt="">
  <h1>STREET🏀CULTUR</h1>
  <img class="img-cart"src="../../../assets/cart.png" width="20px" height="20px" alt="">
  <img class="img-user" src="../../../assets/user.png" width="20px" height="20px" alt="">
</div>
<nav>
  <ul>
    <li>
      <a href="#">SUDADERAS</a>
    </li>
    <li>
      <a href="#">PANTALONES</a>
    </li>
    <li>
      <a href="#">ZAPATILLAS</a>
    </li>
    <li>
      <a href="#">ACCESORIOS</a>
    </li>
  </ul>
</nav> -->

<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="icon-button"
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>SUDADERAS</button>
    <button mat-menu-item>PANTALONES</button>
    <button mat-menu-item>ZAPATILLAS</button>
    <button mat-menu-item>ACCESORIOS</button>
  </mat-menu>

  <span>STREET🏀CULTUR</span>

  <span class="example-spacer"></span>

  <button mat-button class="item">SUDADERAS</button>
  <button mat-button class="item">PANTALONES</button>
  <button mat-button class="item">ZAPATILLAS</button>
  <button mat-button class="item">ACCESORIOS</button>

  <span class="example-spacer"></span>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>add_shopping_cart</mat-icon>
  </button>
</mat-toolbar>
