<mat-toolbar color="primary">
  <button mat-icon-button class="icon-button" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="item" [routerLink]="['/']">INICIO</button>
    <button mat-menu-item class="item" [routerLink]="['/ropa']">ROPA</button>
  </mat-menu>

  <img src="../../../../assets/S.png" width="120" alt="" />

  <span class="example-spacer"></span>

  <button mat-button class="item" [routerLink]="['/']">INICIO</button>
  <button mat-button class="item" [routerLink]="['/ropa']">ROPA</button>

  <span class="example-spacer"></span>
  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/puntos"
    routerLinkActive="active"
  >
    <mat-icon matBadge="0" matBadgeColor="accent">card_giftcard</mat-icon>
  </button>

  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/cart"
    routerLinkActive="active"
  >
    <mat-icon [matBadge]="numProductos" matBadgeColor="accent"
      >shopping_cart</mat-icon
    >
  </button>
  <button
    *ngIf="!estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLinkActive="active"
    matTooltip="Iniciar Sesión"
    data-toggle="modal"
    (click)="frame.show()"
    mdbWavesEffect
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink=""
    routerLinkActive="active"
    (click)="cerrarSesion()"
  >
    <mat-icon matBadgeColor="accent">exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<div
  mdbModal
  #frame="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Iniciar Sesión</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <app-login></app-login>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin: 36px 5px 13px 43px;">
  <mat-chip-list
    class="example-chip"
    cdkDropList
    cdkDropListOrientation="horizontal"
  >
    <mat-chip class="example-box" cdkDrag (click)="mostrarSudaderas()"> Sudaderas </mat-chip>
    <mat-chip class="example-box" cdkDrag (click)="mostrarPantalones()"> Pantalones </mat-chip>
    <mat-chip class="example-box" cdkDrag (click)="mostrarAbrigos()"> Abrigos </mat-chip>
    <mat-chip class="example-box" cdkDrag (click)="mostrarChandal()"> Chandal </mat-chip>
    <mat-chip class="example-box" cdkDrag (click)="mostrarAccesorios()"> Accesorios </mat-chip>
    <mat-chip class="example-box" cdkDrag (click)="mostrarCamisetas()"> Camisetas </mat-chip>
  </mat-chip-list>
</div>

<div class="cont">
  <mat-card
    class="example-card"
    *ngFor="let item of ropa"
    style="box-shadow: none; background: none"
  >
    <mat-card-header style="display: flex; place-content: center">
    </mat-card-header>
    <a routerLink="/detalle-ropa/{{ item.Id }}">
      <img mat-card-image src="{{ item.Imagen }}" />
    </a>
    <mat-card-actions
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >

      <p>{{ item.Nombre }}</p>
      <p style="font-weight: bold">{{ item.Precio }}€</p>
      <button
        mat-button
        (click)="addCarrito(item.Nombre, item.Precio, item.Imagen)"
      >
        AÑADIR AL CARRITO
      </button>
    </mat-card-actions>
  </mat-card>

</div>

<app-footer></app-footer>
