<mat-toolbar color="primary" style="height: 80px">
  <button mat-icon-button class="icon-button" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="item" [routerLink]="['/']">INICIO</button>
    <button mat-menu-item class="item" [routerLink]="['/ropa']">ROPA</button>
    <button mat-menu-item class="item" [routerLink]="['/novedades']">
      NOVEDADES
    </button>
    <button mat-menu-item class="item" [routerLink]="['/contacto']">
      CONTACTO
    </button>
  </mat-menu>

<div
    *ngIf="cliente.imagen != null; else noavatar"
    style="display: flex; align-items: center"
  >
    <a (click)="frame11.show()">
      <img src="{{ cliente.imagen }}" width="70" class="avatar" />
    </a>
    <div style="display: flex; flex-direction: column; align-items: center">
      <p style="margin-left: 1em; font-size: 12px; margin-bottom: 0">
        {{ cliente.nombre }} {{ cliente.apellidos }}
      </p>
      <hr
        style="border: 1px solid black; width: 3em; margin: 0px 0px 0px 12px"
      />
      <p style="font-size: 10px; margin-left: 1em; margin-bottom: 0">
        {{ cliente.perfil }}
      </p>
    </div>
  </div>
  <ng-template #noavatar>
    <div *ngIf="estaLogueado == true; else aa" style="display: flex; align-items: center">
      <a (click)="frame11.show()">
        <img src="../../../../assets/avatar1.png" width="70" class="avatar" />
      </a>
      <div style="display: flex; flex-direction: column;align-items: center">
        <p style="margin-left: 1em; font-size: 12px;margin-bottom: 0">
          {{ cliente.nombre }} {{ cliente.apellidos }}
        </p>
        <hr
          style="border: 1px solid black; width: 3em; margin: 0px 0px 0px 12px"
        />
        <p style="font-size: 10px; margin-left: 1em; margin-bottom: 0">
          {{ cliente.perfil }}
        </p>
      </div>
    </div>
    <ng-template #aa> </ng-template>
  </ng-template>

  <span class="example-spacer"></span>

  <button mat-button class="item" [routerLink]="['/']">INICIO</button>
  <button mat-button class="item" [routerLink]="['/ropa']">ROPA</button>
  <img src="../../../assets/S.png" width="120" alt="">
  <button mat-button class="item" [routerLink]="['/novedades']">
    NOVEDADES
  </button>
  <button mat-button class="item" [routerLink]="['/contacto']">CONTACTO</button>

  <span class="example-spacer"></span>
  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/puntos"
    routerLinkActive="active"
  >
    <mat-icon [matBadge]="numPuntos" matBadgeColor="accent"
      >card_giftcard</mat-icon
    >
  </button>

  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/cart"
    routerLinkActive="active"
  >
    <mat-icon [matBadge]="numProductos" matBadgeColor="accent"
      >shopping_cart</mat-icon
    >
  </button>
  <button
    *ngIf="!estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLinkActive="active"
    matTooltip="Iniciar Sesión"
    data-toggle="modal"
    (click)="frame.show()"
    mdbWavesEffect
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink=""
    routerLinkActive="active"
    (click)="cerrarSesion()"
  >
    <mat-icon matBadgeColor="accent">exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<div
  mdbModal
  #frame11="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Información Personal</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame11.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <form
            [formGroup]="form1"
            (ngSubmit)="actualizarInfo()"
            style="display: flex; flex-direction: column; place-content: center"
          >
            <input type="hidden" formControlName="id" />
            Nombre
            <input type="text" formControlName="nombre" style="margin-bottom: 1em"/>
            Apellidos
            <input type="text" formControlName="apellidos" style="margin-bottom: 1em"/>
            Provincia
            <input type="text" formControlName="provincia" style="margin-bottom: 1em"/>
            Localidad
            <input type="text" formControlName="localidad" style="margin-bottom: 1em"/>
            Domicilio
            <input type="text" formControlName="domicilio" style="margin-bottom: 1em"/>
            Imagen
            <div style="display: flex">
              <div>
                <p style="font-size: 10px;margin-bottom:0;margin-right:10px">Avatar 1</p>
                <img src="../../../../assets/avatar1.png" width="30" alt="" />
              </div>
              <div>
                <p style="font-size: 10px;margin-bottom:0;margin-right:10px">Avatar 2</p>
                <img src="../../../../assets/avatar2.png" width="30" alt="" />
              </div>
              <div>
                <p style="font-size: 10px;margin-bottom:0;margin-right:10px">Avatar 3</p>
                <img src="../../../../assets/avatar3.png" width="30" alt="" />
              </div>
            </div>
            <select formControlName="imagen" style="margin-top: 1em;">
              <option value="../../../../assets/avatar1.png">Avatar 1</option>
              <option value="../../../../assets/avatar2.png">Avatar 2</option>
              <option value="../../../../assets/avatar3.png">Avatar 3</option>
            </select>
            <button mat-raised-button type="submit" style="margin-top: 2em">
              Actualizar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  mdbModal
  #frame="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Iniciar Sesión</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <app-login></app-login>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin: 36px 5px 13px 43px">
  <mat-chip-list
    class="example-chip"
    cdkDropList
    cdkDropListOrientation="horizontal"
  >
    <mat-chip class="example-box" cdkDrag (click)="mostrarSudaderas()">
      Sudaderas
    </mat-chip>
    <mat-chip class="example-box" cdkDrag (click)="mostrarPantalones()">
      Pantalones
    </mat-chip>
    <mat-chip class="example-box" cdkDrag (click)="mostrarAbrigos()">
      Abrigos
    </mat-chip>
    <mat-chip class="example-box" cdkDrag (click)="mostrarChandal()">
      Chandal
    </mat-chip>
    <mat-chip class="example-box" cdkDrag (click)="mostrarAccesorios()">
      Accesorios
    </mat-chip>
    <mat-chip class="example-box" cdkDrag (click)="mostrarCamisetas()">
      Camisetas
    </mat-chip>
  </mat-chip-list>
</div>

<div class="cont">
  <mat-card
    class="example-card"
    *ngFor="let item of ropa"
    style="box-shadow: none; background: none"
  >
    <mat-card-header style="display: flex; place-content: center">
    </mat-card-header>
    <a routerLink="/detalle-ropa/{{ item.Id }}">
      <img mat-card-image src="{{ item.Imagen }}" />
    </a>
    <mat-card-actions
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 27em;
      "
    >
      <p>{{ item.Nombre }}</p>
      <p style="font-weight: bold">{{ item.Precio }}€</p>
      <button
        mat-button
        (click)="addCarrito(item.Nombre, item.Precio, item.Imagen)"
      >
        AÑADIR AL CARRITO
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<app-footer></app-footer>
