.cont
  display: grid
  @media screen and (min-width: 500px) and (max-width: 900px)
    grid-template-columns: repeat(2, 1fr)
  @media screen and (min-width: 901px) and (max-width: 1024px)
    grid-template-columns: repeat(3, 1fr)
  @media screen and (min-width: 1025px)
    grid-template-columns: repeat(4, 1fr)
  .example-card
    margin-bottom: 8px
    @media screen and (min-width: 500px) and (max-width: 900px)
      max-width: 300px
    img
      display: block
      margin: 0 auto
      width: 250px
      height: 350px
    p
      text-align: justify

.example-spacer
  flex: 1 1 auto
mat-toolbar
  .icon-button
    @media screen and ( min-width: 700px)
      display: none
  .item
    @media screen and ( max-width: 700px)
      display: none
.item
  font-size: 17px
mat-icon
  font-size: 27px

.example-box.cdk-drag-animating
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)

.example-chip .cdk-drop-list-dragging
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)
