<mat-toolbar color="primary">
  <button mat-icon-button class="icon-button" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>GESTIONAR PEDIDOS</button>
    <button mat-menu-item>GESTIONAR ROPA</button>
    <button mat-menu-item>GESTIONAR PUNTOS</button>
    <button mat-menu-item>ABRIR INCIDENCIA</button>
  </mat-menu>

  <span>STREET🏀CULTUR</span>

  <span class="example-spacer"></span>

  <button mat-button class="item" [routerLink]="['/']">INICIO</button>
  <button mat-button class="item" [routerLink]="['/pantalones']">
    GESTIONAR PEDIDOS
  </button>
  <button mat-button class="item" [routerLink]="['/sudaderas']">
    GESTIONAR ROPA
  </button>
  <button mat-button class="item" [routerLink]="['/pantalones']">
    GESTIONAR PUNTOS
  </button>
  <button mat-button class="item" [routerLink]="['/pantalones']">
    ABRIR INCIDENCIA
  </button>

  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/login"
    routerLinkActive="active"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
