<mat-toolbar color="primary">
  <button mat-icon-button class="icon-button" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/']">INICIO</button>
    <button mat-menu-item [routerLink]="['/ropa']">ROPA</button>
  </mat-menu>

  <img src="../../../../assets/S.png" width="120" alt="" />

  <span class="example-spacer"></span>

  <button mat-button class="item" [routerLink]="['/']">INICIO</button>
  <button mat-button class="item" [routerLink]="['/ropa']">ROPA</button>

  <span class="example-spacer"></span>
  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/puntos"
    routerLinkActive="active"
  >
    <mat-icon matBadge="0" matBadgeColor="accent">card_giftcard</mat-icon>
  </button>

  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/cart"
    routerLinkActive="active"
  >
    <mat-icon [matBadge]="numProductos" matBadgeColor="accent"
      >shopping_cart</mat-icon
    >
  </button>
  <button
    *ngIf="!estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLinkActive="active"
    matTooltip="Iniciar Sesión"
    data-toggle="modal"
    (click)="frame.show()"
    mdbWavesEffect
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink=""
    routerLinkActive="active"
    (click)="cerrarSesion()"
  >
    <mat-icon matBadgeColor="accent">exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<div
  mdbModal
  #frame="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Iniciar Sesión</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <app-login></app-login>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Section: Block Content-->
<section class="mb-5" style="margin-top: 3em">
  <div class="row">
    <div class="col-md-6 mb-4 mb-md-0">
      <div id="mdb-lightbox-ui"></div>

      <div class="mdb-lightbox">
        <div class="row product-gallery mx-1">
          <div class="col-12 mb-0">
            <figure class="view overlay rounded z-depth-1 main-img">
              <img src="{{ sudaderas.Imagen1 }}" class="img-fluid z-depth-1" />
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h5>{{ sudaderas.Nombre }}</h5>
      <p class="mb-2 text-muted text-uppercase small">Sudaderas</p>
      <p>
        <span class="mr-1"
          ><strong>{{ sudaderas.Precio }}€</strong></span
        >
      </p>
      <p class="pt-1">{{ sudaderas.Descripcion }}</p>
      <div class="table-responsive">
        <table class="table table-sm table-borderless mb-0">
          <tbody>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Model</strong></th>
              <td>Shirt 5407X</td>
            </tr>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Color</strong></th>
              <td>{{ sudaderas.Color }}</td>
            </tr>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Envíos</strong></th>
              <td>A Córdoba <strong>gratis</strong></td>
              <td>A España <strong>3€</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr />
      <div class="table-responsive mb-2">
        <table class="table table-sm table-borderless">
          <tbody>
            <tr>
              <td class="pl-0 pb-0 w-25">Cantidad</td>
              <td class="pb-0">Selecciona la talla</td>
            </tr>
            <tr>
              <td class="p1-0">
                <input
                  type="text"
                  placeholder=""
                  [(ngModel)]="cantidad"
                  style="width: 3em; height: 2.5em; font-size: 15px"
                />
              </td>
              <td>
                <div class="mt-1">
                  <div class="form-check form-check-inline pl-0">
                    <select
                      class="browser-default custom-select"
                      [(ngModel)]="talla"
                    >
                      <option value="XS">XS</option>
                      <option value="S">S</option>
                      <option value="M">M</option>
                      <option value="L">L</option>
                      <option value="XL">XL</option>
                      <option value="XXL">XXL</option>
                    </select>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button
        type="button"
        class="btn btn-primary btn-md mr-1 mb-2"
        routerLink="/pedido"
        (click)="
          addCarrito(
            sudaderas.Nombre,
            sudaderas.Precio,
            sudaderas.Imagen,
            cantidad,
            talla
          )
        "
      >
        Comprar ahora
      </button>
      <button
        type="button"
        class="btn btn-light btn-md mr-1 mb-2"
        (click)="
          addCarrito(
            sudaderas.Nombre,
            sudaderas.Precio,
            sudaderas.Imagen,
            cantidad,
            talla
          )
        "
      >
        <i class="fas fa-shopping-cart pr-2"></i>Añadir a la carta
      </button>
    </div>
  </div>
</section>
<!--Section: Block Content-->

<app-footer></app-footer>
