html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f7f7f7;
}

.mat-simple-snackbar span {
  font-size: 25px !important;
}

.mat-snack-bar-container {
  background-color: rgb(0, 0, 0) !important;
  width: 100% !important;
  height: 100% !important;
  color: white !important;
  font-size: 25px !important;
  letter-spacing: 1px !important;
  line-height: 10px !important;
  text-align: justify !important;
}

@import "./theme.scss";
