html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f7f7f7;
}

.mat-simple-snackbar span{
  font-size: 25px !important;
}

.mat-snack-bar-container {
  background-color: rgb(0, 0, 0) !important;
  width: 7em !important;
  height: 1em !important;
  color: white !important;
  font-size: 25px !important;
}

@import "./theme.scss";
