<mat-toolbar color="primary" style="height: 80px">
  <button mat-icon-button class="icon-button" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="item" [routerLink]="['/empleado']">
      INICIO
    </button>
    <button mat-menu-item class="item" [routerLink]="['/gestionarpedidos']">
      GESTIONAR PEDIDOS
    </button>
    <button mat-menu-item class="item" [routerLink]="['/gestionarropa']">
      GESTIONAR ROPA
    </button>
    <button mat-menu-item class="item" [routerLink]="['/gestionarpuntos']">
      GESTIONAR PUNTOS
    </button>
    <button mat-menu-item class="item" [routerLink]="['/abririncidencia']">
      ABRIR INCIDENCIA
    </button>
  </mat-menu>

  <div
    *ngIf="cliente.imagen != null; else noavatar"
    style="display: flex; align-items: center"
  >
    <a (click)="frame11.show()">
      <img src="{{ cliente.imagen }}" width="70" class="avatar" />
    </a>
    <div style="display: flex; flex-direction: column; align-items: center">
      <p style="margin-left: 1em; font-size: 12px; margin-bottom: 0">
        {{ cliente.nombre }} {{ cliente.apellidos }}
      </p>
      <hr
        style="border: 1px solid black; width: 3em; margin: 0px 0px 0px 12px"
      />
      <p style="font-size: 10px; margin-left: 1em; margin-bottom: 0">
        {{ cliente.perfil }}
      </p>
    </div>
  </div>
  <ng-template #noavatar>
    <div
      *ngIf="estaLogueado == true; else aa"
      style="display: flex; align-items: center"
    >
      <a (click)="frame11.show()">
        <img src="../../../../assets/avatar1.png" width="70" class="avatar" />
      </a>
      <div style="display: flex; flex-direction: column; align-items: center">
        <p style="margin-left: 1em; font-size: 12px; margin-bottom: 0">
          {{ cliente.nombre }} {{ cliente.apellidos }}
        </p>
        <hr
          style="border: 1px solid black; width: 3em; margin: 0px 0px 0px 12px"
        />
        <p style="font-size: 10px; margin-left: 1em; margin-bottom: 0">
          {{ cliente.perfil }}
        </p>
      </div>
    </div>
    <ng-template #aa> </ng-template>
  </ng-template>

  <span class="example-spacer"></span>

  <button mat-button class="item" [routerLink]="['/empleado']">INICIO</button>
  <button mat-button class="item" [routerLink]="['/gestionarpedidos']">
    GESTIONAR PEDIDOS
  </button>
  <button mat-button class="item" [routerLink]="['/gestionarropa']">
    GESTIONAR ROPA
  </button>
  <button mat-button class="item" [routerLink]="['/gestionarpuntos']">
    GESTIONAR PUNTOS
  </button>
  <button mat-button class="item" [routerLink]="['/abririncidencia']">
    ABRIR INCIDENCIA
  </button>

  <span class="example-spacer"></span>

  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/cart"
    routerLinkActive="active"
  ></button>
  <button
    *ngIf="!estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLinkActive="active"
    matTooltip="Iniciar Sesión"
    data-toggle="modal"
    (click)="frame.show()"
    mdbWavesEffect
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink=""
    routerLinkActive="active"
    (click)="cerrarSesion()"
  >
    <mat-icon matBadgeColor="accent">exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<div
  mdbModal
  #frame="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Iniciar Sesión</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <app-login></app-login>
        </div>
      </div>
    </div>
  </div>
</div>

<meta name="description" content="Responsive Material Design Lite Table" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>
<link
  rel="stylesheet"
  href="https://code.getmdl.io/1.1.3/material.green-light_green.min.css"
/>
<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

<div
  mdbModal
  #frame11="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Información Personal</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame11.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <form
            [formGroup]="form1"
            (ngSubmit)="actualizarInfo()"
            style="display: flex; flex-direction: column; place-content: center"
          >
            <input type="hidden" formControlName="id" />
            Nombre
            <input
              type="text"
              formControlName="nombre"
              style="margin-bottom: 1em"
            />
            Apellidos
            <input
              type="text"
              formControlName="apellidos"
              style="margin-bottom: 1em"
            />
            Provincia
            <input
              type="text"
              formControlName="provincia"
              style="margin-bottom: 1em"
            />
            Localidad
            <input
              type="text"
              formControlName="localidad"
              style="margin-bottom: 1em"
            />
            Domicilio
            <input
              type="text"
              formControlName="domicilio"
              style="margin-bottom: 1em"
            />
            Imagen
            <div style="display: flex">
              <div>
                <p
                  style="font-size: 10px; margin-bottom: 0; margin-right: 10px"
                >
                  Avatar 1
                </p>
                <img src="../../../../assets/avatar1.png" width="30" alt="" />
              </div>
              <div>
                <p
                  style="font-size: 10px; margin-bottom: 0; margin-right: 10px"
                >
                  Avatar 2
                </p>
                <img src="../../../../assets/avatar2.png" width="30" alt="" />
              </div>
              <div>
                <p
                  style="font-size: 10px; margin-bottom: 0; margin-right: 10px"
                >
                  Avatar 3
                </p>
                <img src="../../../../assets/avatar3.png" width="30" alt="" />
              </div>
            </div>
            <select formControlName="imagen" style="margin-top: 1em">
              <option value="../../../../assets/avatar1.png">Avatar 1</option>
              <option value="../../../../assets/avatar2.png">Avatar 2</option>
              <option value="../../../../assets/avatar3.png">Avatar 3</option>
            </select>
            <button mat-raised-button type="submit" style="margin-top: 2em">
              Actualizar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  mdbModal
  #frame4="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Añadir Ropa</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame4.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <form [formGroup]="formAddRopa" (ngSubmit)="addRopa()">
            <div style="display: flex">
              <div
                style="display: flex; flex-direction: column; margin-right: 2em"
              >
                Nombre:
                <input
                  type="text"
                  formControlName="Nombre"
                  style="margin-bottom: 1em"
                />
                <p
                  style="color: red"
                  *ngIf="formAddRopa.get('Nombre').hasError('required')"
                >
                  Este campo es requerido
                </p>
              </div>

              <div style="display: flex; flex-direction: column">
                Descripción
                <input
                  type="text"
                  formControlName="Descripcion"
                  style="margin-bottom: 1em"
                />
                <p
                  style="color: red"
                  *ngIf="formAddRopa.get('Descripcion').hasError('required')"
                >
                  Este campo es requerido
                </p>
              </div>
            </div>

            Precio:
            <input
              type="number"
              formControlName="Precio"
              style="margin-bottom: 1em"
            />
            <p
              style="color: red"
              *ngIf="formAddRopa.get('Precio').hasError('required')"
            >
              Este campo es requerido
            </p>

            Tipo:
            <select formControlName="Tipo">
              <option value="Sudadera">Sudadera</option>
              <option value="Pantalon">Pantalon</option>
              <option value="Chandal">Chandal</option>
              <option value="Accesorio">Accesorio</option>
              <option value="Abrigo">Abrigo</option>
              <option value="Camiseta">Camiseta</option>
            </select>
            <p
              style="color: red"
              *ngIf="formAddRopa.get('Tipo').hasError('required')"
            >
              Este campo es requerido
            </p>
            Color:
            <input
              type="text"
              formControlName="Color"
              style="margin-bottom: 1em"
            />
            <p
              style="color: red"
              *ngIf="formAddRopa.get('Color').hasError('required')"
            >
              Este campo es requerido
            </p>
            Imagen:
            <input
              type="file"
              formControlName="Imagen"
              (change)="ficheroSeleccionado($event)"
            />
            <p
              style="color: red"
              *ngIf="formAddRopa.get('Imagen').hasError('required')"
            >
              Este campo es requerido
            </p>
            <br />
            <div style="display: flex; place-content: center">
              <button
                [disabled]="formAddRopa.invalid"
                mat-raised-button
                style="width: 20em"
              >
                Enviar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 4em">
  <div class="tabla">
    <div class="btnr">
      <div class="ar">
        <h2 style="text-align: left">Gestionar Ropa</h2>
      </div>
      <div>
        <button mat-stroked-button (click)="frame4.show()">Añadir Ropa</button>
      </div>
    </div>
    <mat-chip-list aria-label="Fish selection">
      <mat-chip (click)="mostrarSudaderas()">Sudaderas</mat-chip>
      <mat-chip (click)="mostrarPantalones()">Pantalones</mat-chip>
      <mat-chip (click)="mostrarAccesorios()">Accesorios</mat-chip>
      <mat-chip (click)="mostrarChandal()">Chandals</mat-chip>
      <mat-chip (click)="mostrarCamisetas()">Camisetas</mat-chip>
      <mat-chip (click)="mostrarAbrigos()">Abrigos</mat-chip>
    </mat-chip-list>
    <div class="theader">
      <div>Nombre</div>
      <div>Descripción</div>
      <div>Precio</div>
      <div>Color</div>
      <div>Acción</div>
    </div>

    <div class="fila" *ngFor="let item of ropa">
      <div>{{ item.Nombre }}</div>
      <div>{{ item.Descripcion }}</div>
      <div>{{ item.Precio }}</div>
      <div>{{ item.Color }}</div>
      <div>
        <mat-icon
          matTooltip="Borrar"
          style="cursor: pointer"
          (click)="openDialog(item.Id)"
          >delete</mat-icon
        >

        <mat-icon
          style="cursor: pointer"
          (click)="frame5.show(); pasarDatos(item.Id)"
          >edit</mat-icon
        >
      </div>
    </div>
  </div>
</div>

<div
  mdbModal
  #frame5="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Modificar Ropa</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame5.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-5">
        <div>
          <form [formGroup]="formModal" (ngSubmit)="modificarRopa()">
            Nombre(*)
            <input
              type="text"
              formControlName="Nombre"
              style="margin-bottom: 1em"
            />
            Descripción(*)
            <input
              type="text"
              placeholder="Descripción"
              formControlName="Descripcion"
              style="margin-bottom: 1em"
            />
            Precio(*)
            <input
              type="number"
              formControlName="Precio"
              placeholder="2"
              style="margin-bottom: 1em"
            />
            Tipo(*)
            <select formControlName="Tipo" style="margin-bottom: 1em">
              <option value="Sudadera">Sudadera</option>
              <option value="Pantalon">Pantalon</option>
              <option value="Abrigo">Abrigo</option>
              <option value="Chandal">Chandal</option>
              <option value="Accesorio">Accesorio</option>
              <option value="Accesorio">Camiseta</option>
            </select>
            Color(*)
            <input
              type="text"
              placeholder="Color"
              formControlName="Color"
              style="margin-bottom: 1em"
            />
            <div style="display: flex; place-content: center">
              <button
                [disabled]="formModal.invalid"
                mat-raised-button
                style="width: 20em"
              >
                Enviar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
