<mat-toolbar color="primary" style="height: 80px;">
  <button mat-icon-button class="icon-button" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="item" [routerLink]="['/empleado']">
      INICIO
    </button>
    <button mat-menu-item class="item" [routerLink]="['/gestionarpedidos']">
      GESTIONAR PEDIDOS
    </button>
    <button mat-menu-item class="item" [routerLink]="['/gestionarpuntos']">
      GESTIONAR PUNTOS
    </button>
    <button mat-menu-item class="item" [routerLink]="['/gestionarropa']">
      GESTIONAR ROPA
    </button>
    <button mat-menu-item class="item" [routerLink]="['/abririncidencia']">
      ABRIR INCIDENCIA
    </button>
  </mat-menu>

  <div *ngIf="cliente.imagen != null;else noavatar">
    <a routerLink="/miperfil" (click)="drawer.toggle()">
      <img src="{{cliente.imagen}}" width="70" class="avatar">
    </a>
  </div>

  <ng-template #noavatar>
    <div *ngIf="estaLogueado == true;else aa">
      <a routerLink="/miperfil" (click)="drawer.toggle()">
        <img src="../../../../assets/avatardefault.png" width="70" class="avatar">
      </a>
    </div>
    <ng-template #aa>
    </ng-template>
  </ng-template>


  <span class="example-spacer"></span>

  <button mat-button class="item" [routerLink]="['/empleado']">INICIO</button>
  <button mat-button class="item" [routerLink]="['/gestionarpedidos']">
    GESTIONAR PEDIDOS
  </button>
  <button mat-button class="item" [routerLink]="['/gestionarpuntos']">
    GESTIONAR PUNTOS
  </button>
  <img src="../../../../assets/S.png" width="120" alt="">
  <button mat-button class="item" [routerLink]="['/gestionarropa']">
    GESTIONAR ROPA
  </button>
  <button mat-button class="item" [routerLink]="['/abririncidencia']">
    ABRIR INCIDENCIA
  </button>

  <span class="example-spacer"></span>

  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/cart"
    routerLinkActive="active"
  ></button>
  <button
    *ngIf="!estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLinkActive="active"
    matTooltip="Iniciar Sesión"
    data-toggle="modal"
    (click)="frame.show()"
    mdbWavesEffect
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    *ngIf="estaLogueado"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    routerLink=""
    routerLinkActive="active"
    (click)="cerrarSesion()"
  >
    <mat-icon matBadgeColor="accent">exit_to_app</mat-icon>
  </button>
</mat-toolbar>


<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p style="cursor:pointer" >{{cliente.nombre}} {{cliente.apellidos}}</p>
    <p>Perfil: {{cliente.perfil}}</p>
    <p style="cursor:pointer" routerLink="/informacion">Mi información</p>
    <p style="cursor:pointer" (click)="cerrarSesion()">Salir</p>
  </mat-drawer>
</mat-drawer-container>

<div
  mdbModal
  #frame="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Iniciar Sesión</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <app-login></app-login>
        </div>
      </div>
    </div>
  </div>
</div>

<meta name="description" content="Responsive Material Design Lite Table" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>
<link
  rel="stylesheet"
  href="https://code.getmdl.io/1.1.3/material.green-light_green.min.css"
/>
<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

<div
  mdbModal
  #frame4="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Añadir Ropa</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame4.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5" style="display: flex; flex-direction: column">
          <form [formGroup]="formAddRopa" (ngSubmit)="addRopa()">
            <input
              type="text"
              formControlName="Nombre"
              placeholder="Nombre"
              style="margin-bottom: 1em"
            />
            <input
              type="text"
              formControlName="Descripcion"
              placeholder="Descripción"
              style="margin-bottom: 1em"
            />
            <select formControlName="Talla" style="margin-bottom: 1em">
              <option value="XS">XS</option>
              <option value="S">S</option>
              <option value="M">M</option>
              <option value="L" selected>L</option>
              <option value="XL">XL</option>
              <option value="XXL">XXL</option>
            </select>
            <input
              type="number"
              formControlName="Precio"
              placeholder="2"
              style="margin-bottom: 1em"
            />
            <input
              type="text"
              formControlName="Cantidad"
              placeholder="Cantidad"
              style="margin-bottom: 1em"
            />
            <input
              type="text"
              formControlName="Tipo"
              placeholder="Tipo"
              style="margin-bottom: 1em"
            />
            <input
              type="text"
              formControlName="Color"
              placeholder="Color"
              style="margin-bottom: 1em"
            />
            <input
              type="number"
              formControlName="Novedad"
              placeholder="1"
              style="margin-bottom: 1em"
            />
            <button>Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 4em">
  <div class="tabla">
    <div class="btnr">
      <div class="ar">
        <h2 style="text-align: left;">Gestionar Ropa</h2>
      </div>
      <div>
        <button mat-stroked-button (click)="frame4.show()">Añadir Ropa</button>
      </div>

    </div>
    <div class="theader">
      <div>Nombre</div>
      <div>Descripción</div>
      <div>Precio</div>
      <div>Color</div>
      <div>Acción</div>
    </div>

    <div class="fila" *ngFor="let item of ropa">
      <div>{{ item.Nombre }}</div>
      <div>{{ item.Descripcion }}</div>
      <div>{{ item.Precio }}</div>
      <div>{{ item.Color }}</div>
      <div>
        <mat-icon
          matTooltip="Borrar"
          style="cursor: pointer"
          (click)="borrarRopa(item.Id)"
          >delete</mat-icon
        >

        <mat-icon
          style="cursor: pointer"
          (click)="frame5.show(); pasarDatos(item.Id)"
          >edit</mat-icon
        >
      </div>
    </div>
  </div>
</div>

<!-- <section class="mdl-grid" id="my-table">
  <div class="mdl-layout-spacer"></div>
  <div
    class="
      mdl-cell mdl-cell--6-col-tablet mdl-cell--10-col-desktop mdl-cell--stretch
    "
  >

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Color</th>
          <th>Borrar</th>
          <th>Modificar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of ropa">
          <td>
            {{ item.Nombre }}
          </td>
          <td>
            {{ item.Descripcion }}
          </td>
          <td>
            {{ item.Precio }}
          </td>
          <td>
            {{ item.Color }}
          </td>
          <td>
            <mat-icon
              matTooltip="Borrar"
              style="cursor: pointer"
              (click)="borrarRopa(item.Id)"
              >delete</mat-icon
            >
          </td>
          <td>
            <mat-icon
              style="cursor: pointer"
              (click)="frame5.show(); pasarDatos(item.Id)"
              >edit</mat-icon
            >
          </td>
        </tr>
      </tbody>
    </table>
    <br />
  </div>
  <div class="mdl-layout-spacer"></div>
</section> -->

<div
  mdbModal
  #frame5="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Modificar Ropa</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame5.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5" style="display: flex; flex-direction: column">
          <form [formGroup]="formModal">
            <input
              type="text"
              formControlName="Nombre"
              style="margin-bottom: 1em"
            />
            <input
              type="text"
              placeholder="Descripción"
              style="margin-bottom: 1em"
            />
            <select style="margin-bottom: 1em">
              <option value="XS">XS</option>
              <option value="S">S</option>
              <option value="M">M</option>
              <option value="L" selected>L</option>
              <option value="XL">XL</option>
              <option value="XXL">XXL</option>
            </select>
            <input type="number" placeholder="2" style="margin-bottom: 1em" />
            <input
              type="text"
              placeholder="Cantidad"
              style="margin-bottom: 1em"
            />
            <input type="text" placeholder="Tipo" style="margin-bottom: 1em" />
            <input type="text" placeholder="Color" style="margin-bottom: 1em" />
            <input type="number" placeholder="1" style="margin-bottom: 1em" />
            <button>Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
