<div class="categorias">
  <mat-card class="example-card">
    <a routerLink="/ropa">
      <img
      mat-card-image
      src="../../../../assets/12.jpg"
      alt="Photo of a Shiba Inu"
    />
    </a>
    <mat-card-content style="display: flex; place-content:center">
      <h2>SUDADERAS</h2>
    </mat-card-content>
    <mat-card-actions style="display: flex; place-content:center">
      <button mat-button style="border: 1px solid black" routerLink="/ropa">COMPRAR</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <a routerLink="/ropa">
      <img
      mat-card-image
      src="../../../../assets/pantalones.jpg"
      alt="Pantalones"
    />
    </a>
    <mat-card-content style="display: flex; place-content:center">
      <h2>PANTALONES</h2>
    </mat-card-content>
    <mat-card-actions style="display: flex; place-content:center">
      <button mat-button style="border: 1px solid black" routerLink="/ropa">COMPRAR</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <a routerLink="/ropa">
      <img
      mat-card-image
      src="../../../../assets/abrigo.png"
      alt="Abrigos"
    />
    </a>
    <mat-card-content style="display: flex; place-content:center">
      <h2>ABRIGOS</h2>
    </mat-card-content>
    <mat-card-actions style="display: flex; place-content:center">
      <button mat-button style="border: 1px solid black" routerLink="/ropa">COMPRAR</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <a routerLink="/ropa">
      <img
      mat-card-image
      src="../../../../assets/accesorios.png"
      alt="Accesorios"
    />
    </a>
    <mat-card-content style="display: flex; place-content:center">
      <h2>ACCESORIOS</h2>
    </mat-card-content>
    <mat-card-actions style="display: flex; place-content:center">
      <button mat-button style="border: 1px solid black" routerLink="/ropa">COMPRAR</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <a routerLink="/ropa">
      <img
      mat-card-image
      src="../../../../assets/chandal.png"
      alt="Chandal"
    />
    </a>
    <mat-card-content style="display: flex; place-content:center">
      <h2>CHANDAL</h2>
    </mat-card-content>
    <mat-card-actions style="display: flex; place-content:center">
      <button mat-button style="border: 1px solid black" routerLink="/ropa">COMPRAR</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <a routerLink="/ropa">
      <img
      mat-card-image
      src="../../../../assets/camisetas.png"
      alt="Camisetas"
    />
    </a>
    <mat-card-content style="display: flex; place-content:center">
      <h2>CAMISETAS</h2>
    </mat-card-content>
    <mat-card-actions style="display: flex; place-content:center">
      <button mat-button style="border: 1px solid black" routerLink="/ropa">COMPRAR</button>
    </mat-card-actions>
  </mat-card>

</div>
