<div class="categorias">
  <img
    src="../../../../assets/categoria-sudaderas.webp"
    width="280"
    height="380"
    alt=""
  />
  <h3>SUDADERAS</h3>
  <a href="#">COMPRAR</a>
  <div class="categorias1">
    <div>
      <img
        src="../../../../assets/categoria-pantalones.webp"
        width="150"
        height="230"
        alt=""
      />
      <h3>PANTALONES</h3>
      <a href="#">COMPRAR</a>
    </div>
    <div>
      <img
        src="../../../../assets/categoria-conjunto.webp"
        width="150"
        height="230"
        alt=""
      />
      <h3>CONJUNTOS</h3>
      <a href="#">COMPRAR</a>
    </div>
  </div>
</div>
