.categorias
  margin-top: 4em
div
  display: grid
  place-items: center
  @media screen and (min-width: 500px) and (max-width: 900px)
    grid-template-columns: repeat(1, 1fr)
  @media screen and (min-width: 901px) and (max-width: 1200px)
    grid-template-columns: repeat(2, 1fr)
  @media screen and (min-width: 1200px)
    grid-template-columns: repeat(3, 1fr)
  .example-card
    max-width: 400px
    margin-bottom: 5em
    box-shadow: none
    @media screen and (min-width: 500px) and (max-width: 900px)
      max-width: 300px
    img
      height: 570px
      @media screen and (min-width: 500px) and (max-width: 900px)
        height: 100%
